[2016-08-19 22:29] pranavkm opened #2 "Add an option to embed sources for compiled views (cshtml content) in the generated assembly"
We would also need a sample tool that dumps these files back on disk preserving the original file structure.

[2016-08-20 00:42] JunTaoLuo opened #3 "Restore fails on CI test"
For our test projects, we delete the src folders so packages are not rebuilt. This causes a problem in the build for this repo since it has a override on the repo-initialize step that explicitly restores for test and src and fails when the src folder doesn't exist. The custom step needs a bit more work it seems.

cc @pranavkm

[2016-08-22 17:43] #3 closed, assigned to nobody

[2016-08-25 21:19] pranavkm opened #10 "Add tests for verifying command line input parsing"
Need to add tests that cover the argument parsing of the tool:

* Running without any arguments or when `--help` is specified.
* Running with missing or invalid arguments.

[2016-09-07 17:59] #2 closed

[2016-09-07 18:58] pranavkm opened #16 "Add a test that verifies strong name signing works for precompiled views"

[2016-09-07 23:38] #10 closed

[2016-09-08 16:44] muratg opened #17 "Msbuildify tools"
### Microsoft.AspNetCore.MvcPrecompilation.Tools
  - New tool
  - Expect to run via MSBuild
  - This needs runtime dependency

### TODO
  - Fork tools repos to `rel/1.0.0-preview3` branches for "October" release. Dev branches will continue to be used for 1.1 release.
  - Use desktop msbuild to start our work until the new msbuild is ready for   consumption

### Notes
  - [This](https://github.com/

[2016-09-08 21:48] pranavkm commented on #17
Unfortunately this tool depends on features from Mvc 1.1.0. We wouldn't be able to do much here for the current release.

[2016-09-08 21:48] #17 closed

[2016-09-13 17:04] #16 closed

[2016-09-22 22:30] pranavkm opened #19 "Microsoft.AspNetCore.Mvc.Razor.Precompilation.Tools does not need to target desktop"
Per @NTaylorMullen, the tool doesn't need to be cross compiled. `dotnet` always calls the netcoreapp1.0 version of the tool.

[2016-09-26 19:34] pranavkm opened #20 "Consider adding a switch to remove the refs directory produced as part of the publish output"
Precompilation relies on `preserveCompilationContext` to produce a deps file with enough information to compile views. This is identical to how runtime compilation works. One side effect of having this flag is that additional references binaries get copied to a `refs` directory under the publish directory. If the application performs no runtime compilation, these binaries are not required.

We cou

[2016-10-03 08:09] NickAb opened #21 "Timeline for pre-release versions on NuGet"
Hello,

Are there any chances to see this packaged on NuGet as pre-release? Are there any time-frames for that or we will have to wait for Q1/Q2 2017 release?

[2016-10-03 15:09] rynowak commented on #21
This package is available now on MyGet, but that will require using 1.1.0 nightlies of everything.... https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.Mvc.Razor.Precompilation.Tools

Perhaps @DamianEdwards or @danroth27 would like to comment on our timelines for preview release?

[2016-10-03 17:59] DamianEdwards commented on #21
We're currently targeting a pre-release of this on NuGet for this month, and an RTM a month or so later. Of course, "targeting" doesn't not constitute an announcement or promise :smile:

[2016-10-03 17:59] #21 closed

[2016-10-19 22:10] Eilon commented on #20
This sounds like it's a separate decision from precompilation so it shouldn't be combined within the precompilation tool. That is, it makes more sense it just another step in the targets of the project that after calling precompilation optionally goes and deletes another folder.

[2016-10-19 22:10] #20 closed

[2016-10-24 17:57] rynowak opened #25 "Rename this project to Razor ViewCompilation"
We should rename this to View Compiler/View Compilation

[2016-10-25 22:45] #19 closed

[2016-10-26 21:45] pranavkm opened #26 "Make --framework and --configuration optional parameters to the tool"
We could infer these values if the application targets exactly one framework (and default to Debug).

[2016-11-02 20:09] Eilon commented on #25
Rename this to: `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.*`.

[2016-11-03 09:47] gdau opened #27 "Precompilation does not work for applications using relative path"
I have structured my ASP.NET Core project according to "Feature Slices" as outlined here:

[https://msdn.microsoft.com/en-us/magazine/mt763233.aspx](https://msdn.microsoft.com/en-us/magazine/mt763233.aspx)

The result is that the views are stored alongside the relevant models and controllers (and not in the "Views" folder). The _Layout file is stored at "Features/Shared/_Layout.cshtml".

When I ru

[2016-11-05 00:24] pranavkm commented on #26
cc @Eilon

[2016-11-07 16:46] Eilon commented on #26
Approved for 1.1.0.

[2016-11-07 20:26] #26 closed

[2016-11-07 20:27] pranavkm commented on #25
Fixed in https://github.com/aspnet/MvcPrecompilation/commit/bfdd939e26db59cc451a099d38514d4a7dd73315

[2016-11-07 20:27] #25 closed

[2016-11-11 23:24] ajaybhargavb opened #30 "PreCompilation does not work for netcoreapp1.1"
When I target netcoreapp1.1 in my app and run precompilation it says,
[code]

It works fine for netcoreapp1.0 and net451.

[2016-11-12 00:07] pranavkm commented on #27
Discussed here - https://github.com/aspnet/Mvc/issues/5508#issuecomment-260072552

The issue has to do with the view engine expecting paths with forward slashes. However, the View metadata that is generated contains paths with back-slashes. The actual issue might require looking in to `RazorViewEngine` \ `CompilerCache`, but for this release we can make a simple fix by normalizing the path casing

[2016-11-12 01:52] pranavkm opened #33 "Precompilation does not work when applications use path traversal"
Consider a page with

[code]

This works when there's an underlying file provider that does path resolution. However once the app is precompiled and deployed, the view engine fails to resolve this path. The issue is that the lookup is of the format '/Views/Home/../Shared/_Layout.cshtml` whilst the key for the precompiled view is `/Views/Shared/_Layout.cshtml` and the view engine does not do the pa

[2016-11-12 02:30] pranavkm commented on #27
@Eilon follow up - https://github.com/aspnet/MvcPrecompilation/issues/33 which we probably don't want to take for this release.

[2016-11-14 18:15] pranavkm commented on #30
Fixed in https://github.com/aspnet/MvcPrecompilation/commit/d9140e97c9dd682e71e4d58affffb509b84ba0ec

[2016-11-14 18:15] #30 closed

[2016-11-20 09:29] fleed opened #34 "Are partial views supported?"
Using version `1.1.0-preview4-final` of **Design** and **Tools**.

If I have the following instruction in the `_Layout.cshtml`:

[code]

and I compile using

[code]

I get the following runtime error
[code]

The website works if I comment the call to `Partial`

[2016-11-21 17:07] pranavkm opened #35 "Tool produces a 0-byte binary when compilation fails"
Steps:

1. Create a view with a compilation error (e.g. `int x = "Hello world";`)
2. Run `dotnet-razor-precompile` on the app with the right arguments.

Expected:
View compilation fails and no `.Precompiled.dll` binary is produced.

Actual:
View compilation fails and a 0-byte binary is produced.

[2016-11-21 17:23] Eilon commented on #35
Is this really a bug in precompilation (we always create a stream for the PE file?), or is it possibly a bug on Roslyn or something?

[2016-11-21 17:30] pranavkm commented on #35
It's the former. Compilation errors are exposed as part of emitting the binary and we create a file stream to emit it. I'll have a look at what csc does to see if there's a better way to do this.

[2016-11-21 17:51] pranavkm commented on #35
Looks like they're using API's not publicly available to produce diagnostics without having a Stream (https://github.com/dotnet/roslyn/blob/2d871994b396f7ceca6722464f5b8c85905b343e/src/Compilers/Core/Portable/Compilation/Compilation.cs#L1643). I'll just remove the file in the event compilation fails.

[2016-11-21 18:32] Eilon commented on #35
Eh that's ugly. Can we get a recommendation from Roslyn on how to do this?

[2016-11-21 18:39] pranavkm commented on #35
I can ask. The other alternative is to write to a memory stream (which is what we do at runtime) and copy to disk if it's successful.

[2016-11-21 18:44] pranavkm commented on #35
DNX used the `MemoryStream` pattern - emit in memory followed by a copy if success: https://github.com/aspnet/dnx/blob/bebc991012fe633ecac69675b2e892f568b927a5/src/Microsoft.Dnx.Compilation.CSharp/RoslynProjectReference.cs#L243-L251. It's some extra overhead if everything goes well, but I suppose it does a clean no-op.

[2016-11-21 19:04] Eilon commented on #35
I think I prefer that. Write to disk only when it's safe.

[2016-11-21 20:40] pranavkm commented on #34
@fleed it's likely that you're running in to the same issue as https://github.com/aspnet/MvcPrecompilation/issues/27. Could you try using a view name or an absolute path: e.g.

`@Html.Partial("_Account")` or `@Html.Partial("/Views/Shared/_Account.cshtml")`.

[2016-11-22 00:51] ctolkien opened #37 "View lookups are case sensitive on non-case sensitive file systems"
Not sure if a bug or by design, however with a view file named `Alternate.cshtml` on disk the following code works when not-precompiled:

    return View("alternate");

But fails when precompiled. Needs to be

    return View("Alternate");

To match the case of the file on disk. This is when deployed to Azure App Services (Windows).

[2016-11-22 00:54] ctolkien opened #38 "Layout lookups with file extension cannot be found."
Given a razor view which works when not-precompiled:

[code]
Results in an exception

[code]

Changing this to remove the file extension

[code]

Works in both scenarios.

[2016-11-22 02:50] pranavkm commented on #38
Dup of https://github.com/aspnet/MvcPrecompilation/issues/27.

For the time being, we recommend using name based lookups (which essentially involves removing the extension) or app-root relative paths (e.g. `/Views/Shared/_BaseLayout.cshtml`)

[2016-11-22 02:50] #38 closed

[2016-11-22 03:28] pranavkm commented on #37
The behavior wasn't by design, we just happen to have case sensitive structures where the precompiled view names land. That said, I looked at what embedded file provider does and it has the same behavior. In the case of the embedded provider, it's the call to `Assembly.GetManifestResourceName` that uses the casing files were embedded with.

@DamianEdwards \ @rynowak , thoughts?

[2016-11-22 04:43] ctolkien commented on #37
Further biting us... I'd created an area in `Areas/Admin`

And then registered controllers in there with `[Area("admin")]`

This asploded as well, as it was looking for views in `Areas/admin/...`

Core of my issue I guess.. is that things which work locally on my particular environment, don't work in production, and I'm caught unawares. Need to manually go and check if views are loading once somet

[2016-11-22 10:41] henkmollema opened #39 "Disable using precompiled views at runtime"
My application references a NuGet package that contains precompiled views. When developing, I want to use the local views in the project. However, the Razor view engine seems to pick precompiled views above local ones. Is it possible to configure or override this behavior? I've been looking the Razor view engine but can't seem to find the correct way to disable precompiled views.

[2016-11-22 17:27] pranavkm commented on #39
There isn't a particularly good way to do this now - the goal was for precompilation to be used for deployed applications so the presence of the views binary was meant to be a switch. There's an "internal" API that you might let you workaround this for now:

[code]

[2016-11-22 19:26] rynowak commented on #37
My understanding is that we are always case sensitive with view lookups now, to avoid a problem where you test and windows and deploy to linux.

[2016-11-22 21:13] ctolkien commented on #37
@rynowak

That doesn't appear to be the case. I've just tested this:

[code]

returns a view file named `testingcase.cshtml` (lowercase) when on Windows.

[2016-11-23 07:47] henkmollema commented on #39
Thanks @pranavkm, figured it should be somewhere in `ICompilerCacheProvider`. I came up with an implementation of `IApplicationFeatureProvider<ViewsFeature>` which clears `Views` collection in the feature (which `ICompilerCacheProvider` in turn uses to populate the cache):

[code]

The feature provider should be added to the `ApplicationPartManager`:
[code]

[2016-11-23 17:05] pranavkm commented on #39
Nice, that's much nicer than what I came up with and doesn't mess with internals. Could we close this issue since this turns out to be a a pretty simple solution to the issue?

[2016-11-23 17:06] henkmollema commented on #39
Yeah sure, thanks for the help!

[2016-11-23 17:06] #39 closed

[2016-11-23 19:12] pranavkm commented on #35
@Eilon could we consider this for 1.1.1? The experience without this change is pretty bad.

[2016-11-23 19:23] pranavkm commented on #37
@ctolkien what @rynowak was trying to get to was that we don't do anything in particular to make the view lookup case invariant. If you had been working on a case sensitive file system or an `IFileProvider` such as `EmbeddedFileProvider` which does case sensitive lookups, the results you're seeing here would have been identical. Related discussion about this in the past: https://github.com/aspnet/

[2016-11-23 21:08] Eilon commented on #35
Let's get this into 1.2.0 as you have it, and log a new bug for 1.1.1 to track porting this.

[2016-11-23 22:31] pranavkm opened #40 "Port "Tool produces a 0-byte binary when compilation fails" to 1.1.1"
Original issue https://github.com/aspnet/MvcPrecompilation/issues/35

[2016-11-23 22:33] pranavkm commented on #40
cc @Eilon  \ @DamianEdwards

[2016-11-23 22:47] #35 closed

[2016-11-23 23:47] techcap opened #41 "Use MvcPrecompilation in net452"
Can I use MvcPrecompilation in net452 or other full framework version?

[2016-11-24 00:04] pranavkm commented on #41
Yes, the tool should works on all platforms AspNetCore supports. It should work if you're targeting net452. Are you seeing issues when you run it.

[2016-11-24 02:14] techcap commented on #41
It works!!! Thank you very much.

I refered to below line in View Compilation section.
https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/

[2016-11-27 04:51] #41 closed

[2016-11-27 04:52] Eilon commented on #37
For the reasons @pranavkm mentions, this is by design. View names by default are case sensitive.

[2016-12-04 04:56] fleed commented on #34
@pranavkm your solution (`@Html.Partial("_Account")`) works, thank you.
Closing this one considering that you're already working on #27

[2016-12-04 04:56] #34 closed

[2016-12-08 18:42] NTaylorMullen opened #42 "Views names are Case-Sensitive when precompiled but not at development time."
_From @Bartmax on December 8, 2016 8:49_

[code]
with a file called `Myview.cshtml` will work with no problem on Windows in development.

it will fail on publish.

Maybe it would be good to enforce case-sensitive when loading views from disk ?

_Copied from original issue: aspnet/RazorTooling#115_

[2016-12-08 18:43] NTaylorMullen commented on #42
/cc @pranavkm

[2016-12-08 18:43] pranavkm commented on #42
Dup of https://github.com/aspnet/MvcPrecompilation/issues/37 which we decided was by design.

[2016-12-08 18:43] #42 closed

[2016-12-08 20:13] pranavkm commented on #33
Keeping this open to add tests from https://github.com/aspnet/MvcPrecompilation/pull/32

[2016-12-08 20:21] Bartmax commented on #42
Yes this is a dup in a sense of the issue, but have you considered having the FileProvider being case-sensitive by default ? So we can fail fast and avoid pitfall of errors.

I'm confident that will be a good thing.

[2016-12-08 20:31] pranavkm commented on #42
@Bartmax we've had some discussions about this in the past (for instance https://github.com/aspnet/FileSystem/issues/16#issuecomment-236276909), and we don't want to enforce this behavior using the default `PhysicalFileProvider` implementation. You could do something like this at the application level by replacing the `IHostingEnvironment.ContentRootFileProvider` with a provider that enforces casi

[2016-12-08 20:44] Bartmax commented on #42
I see, I think docs will be explicit about the file casing when using precompilation. That will solve most of the problems. (i think).

One more last question: Is there any OTB FileProvider that is case-sensitive (or can be configured as such) that I can use to replace for the ContentRootFileProvider ?

[2016-12-08 20:55] pranavkm commented on #42
Not that I know of. There's a stackoverflow post about verifying paths on Windows using P/Invoke: http://stackoverflow.com/questions/16183788/case-sensitive-directory-exists-file-exists

[2016-12-08 20:57] Bartmax commented on #42
I see this is a very hard problem and understand why it wasn't addressed. We must have to live with good documentation and that's it. Thank you @pranavkm very insightful

[2016-12-08 21:05] Bartmax commented on #33
I hit this issue yesterday and I fixed it replacing
[code]
with:
[code]

[2016-12-08 21:13] pranavkm commented on #33
That's the current workaround @Bartmax. I just checked in the fix for this in Mvc, so it should make it to the next release.

[2016-12-13 21:18] codeimpossible opened #44 "No executable found matching command “Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design”"
### No executable found matching command “Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design”

### Functional impact
Can't compile razor views using v1.1.0 of Tools/Design libs.

### Minimal repro steps
1. Follow steps in [AspNetCore 1.1 announcement post](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/).
1a. Add a reference to “Microsoft.AspNetCore.Mvc.Razor.Vie

[2016-12-13 22:51] pranavkm commented on #44
@codeimpossible I think you might be running in to a limitation of CLI tools - https://github.com/dotnet/cli/issues/2645 - that prevents them from working with class libraries. This should get fixed when the tooling gets to RTM.

In the meanwhile, a workaround is to create an "executable". This would require specifying `emitEntryPoint: true` under the `buildOptions` node. See https://github.com/as

[2016-12-13 23:02] codeimpossible commented on #44
@pranavkm success! adding both the lines you linked in https://github.com/aspnet/MvcPrecompilation/blob/dev/testapps/ClassLibraryWithPrecompiledViews/project.json#L3-L6 to my `project.json` and including a basic `Program.cs` allowed me to precompile the views. Thanks for the fast response!

[2016-12-14 00:53] JunTaoLuo opened #46 "Remove pinned dotnet cli utils"
Temporary workaround to fix the build in https://github.com/aspnet/MvcPrecompilation/pull/45 needs to be reverted.

[2016-12-14 00:58] JunTaoLuo commented on #46
done in https://github.com/aspnet/MvcPrecompilation/commit/e42d58f01f77a5a3a60e22d4f44f038ccca9f59b

[2016-12-14 03:15] JunTaoLuo commented on #46
new version still had issues, so had to pin the version again.

[2016-12-14 18:40] codeimpossible commented on #44
@pranavkm Thanks for your help with my earlier issue, I was hoping I could ask a few other questions.

I'm currently trying to use view compilation tooling to compile a few layouts and a _ViewImports into a nuget package to reference them in a aspnetcore application. This doesnt seem to be possible, I can add the PrecompiledViews.dll to the nuget package, but the PrecompiledViews assembly doesn't

[2016-12-14 19:15] pranavkm commented on #44
The scenario should work - that's basically what the test app I listed earlier does. Can you verify that the directory structure inside the package (you can extract it as a zip file or use zip archive view like 7-zip) looks like this:

[code]

You might only have the `netcoreapp1.1`  TFM in your lib directory.

Not out of the box. You might be able to write a custom feature provider with a differe

[2016-12-14 23:17] codeimpossible commented on #44
@pranavkm yep my nuget package looks exactly like the structure you have and i've added it to my mvc site. The ViewImports doesn't seem to be run (tag helpers and base classes for views aren't being setup) and I'm not sure how to reference the layout from within my view - which resides in the mvc site. I've tried using the layout name:

[code]

but this doesn't work, i get the "the view could not

[2016-12-16 13:33] dolly22 opened #47 "Precompiled app not working for .NETFramework,Version=v4.6.1/win7-x86"
Application published for full framework (net461), x86 target fails with BadImageFormatException

[code]

It seems `lib/net451/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design.exe` from Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design, 1.1.0-preview4-final package is forced to 64bit.

[code]

[2016-12-16 16:58] pranavkm commented on #44
@codeimpossible, unfortunately `_ViewImports` are a Razor parse time feature (cc @NTaylorMullen \ @rynowak - is this changing in Razovelution?) and consequently having a compiled view doesn't help here. You'd have to have the actual cshtml embedded in your binary (`--embed-view-sources`) and add an `EmbeddedFileProvider` for the precompiled assembly.

The syntax for Layout looks correct. If you ha

[2016-12-16 17:01] pranavkm commented on #47
Thanks for catching this. @Eilon we'll have to compile the design tool for x86 (we do this in RazorTooling). Is this 1.1.1 worthy?

[2016-12-16 22:20] Eilon commented on #47
@DamianEdwards thoughts on 1.1.1 for this? Seems reasonable, though I'm not sure how many people are running on 32bit these days.

[2016-12-16 22:42] DamianEdwards commented on #47
It's a supported platform so our stuff should work there. I'm in favor of fixing this in 1.1.1

[2016-12-20 21:56] JunTaoLuo commented on #46
No longer pining https://github.com/aspnet/MvcPrecompilation/commit/6cf9e8c2bc4dd2d7f7643c9a76fa22d647016986

[2016-12-20 21:56] #46 closed

[2016-12-23 00:02] pranavkm opened #48 "Update to netcoreapp1.2 once we figure out why referencing the newer project causes running the tool to fail"
Tracking CoreFx issue: https://github.com/dotnet/corefx/issues/14696.

Also need to re-enable tests once this issue is resolved.

[2016-12-23 00:07] pranavkm commented on #48
Once we have a solution, https://github.com/aspnet/Coherence/commit/438590fbfd33996b26e19d4d7699e910e1950889 needs to be undone.

[2016-12-23 00:51] pranavkm commented on #48
With no changes, (well the transitive dependencies targeting CoreFx 4.4.0-* packages), invoking `dotnet test` on any of the test projects in this repo is currently failing with:

[code]

Spoke with @Eilon offline and we decided it was ok to disable tests until we have a resolution for this.

[2016-12-23 00:52] pranavkm commented on #48
Commit to be reverted to re-enable tests: https://github.com/aspnet/MvcPrecompilation/commit/f9efbf8e78c2e1a37d1de36debcaf9b9ea876aba

[2016-12-28 01:27] Eilon commented on #44
@pranavkm what is the work for us to do here?

[2017-01-04 22:32] ryanbrandenburg opened #50 "MSBuild target assumes correct dotnet is on the path"
Currently the MSBuild target assumes that the correct dotnet is on the path [here](https://github.com/aspnet/MvcPrecompilation/blob/rybrande/MsBuildTarget/src/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design/build/netcoreapp1.1/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design.targets#L22). This is not a safe assumption in general, as VS uses a different install of dotnet than the command

[2017-01-09 22:39] pranavkm opened #51 "Allow configuring the binary to be executed for precompilation"
To produce compilation for desktop, we `exec` the managed executable. This works on Windows, but not on xplat. Users might be able to run the executable using mono if we had a property that allowed configuring this. e.g. `MvcRazorBinaryToExecute`

[2017-01-11 07:22] nielstanis opened #53 "MvcPrecompilation and VS2017 UX"
Not sure if this is the right location to ask this question, but I'm going to give it a shot :smile:
Will there be any direct support from the VS2017 UI to the precompilation (e.g. like the way we can do it in VS 2015 with publish and configure it)?

[2017-01-11 17:38] pranavkm opened #54 "Make Microsoft.AspNetCore.Mvc bring in the precompilation package"
For 1.1.0-msbuild3 release, we require users to reference the precompilation package explicitly (and add a property to enable it in their projects). For the next runtime release, we should have `Microsoft.AspNetCore.Mvc` bring the tool. Enabling the tool would simply require setting the property at that point. This change requires a runtime release, so it's tied to the next milestone of Mvc.

[2017-01-11 17:40] pranavkm commented on #53
@nielstanis for VS 2017 (i.e. csproj based projects), we converted the tool to be an MSBuild target. The plan is for `Microsoft.AspNetCore.Mvc` to bring this target in by default and for precompilation to be enabled by setting a flag in the project, similar to how `MvcBuildViews` worked in Mvc 5. That said, having an UI might be nice - have the publish tool pass in the property to cause view compi

[2017-01-11 17:41] pranavkm commented on #54
Added a `MvcRazorRunCommand` to both desktop and CoreCLR targets as part of https://github.com/aspnet/MvcPrecompilation/commit/ac4a0560a38b2006666681b2fb98a12d4e77d0d8.

[2017-01-11 17:41] #54 closed

[2017-01-11 19:09] pranavkm commented on #50
An alternative to running the user process is to use a `AssemblyLoadContext` \ `AppDomain` that simulates `dotnet exec` and run precompilation as part of an MSBuild Task. This would remove the dependency on dotnet (while also addressing bitness issues https://github.com/aspnet/MvcPrecompilation/issues/47). @natemcmaster has some code that produces a load context from the deps file. Would be nice t

[2017-01-11 19:14] natemcmaster commented on #50
@pranavkm  here is that code. It's ~5 months old an I labeled it "WIP", so not sure how complete/functional it is.

https://github.com/natemcmaster/EntityFramework/blob/6dc4b2b231d5b28472a683e3bdaabc6eba057ccf/src/Tools.DotNet/Internal/DependencyContextExtensions.cs
https://github.com/natemcmaster/EntityFramework/blob/6dc4b2b231d5b28472a683e3bdaabc6eba057ccf/src/Tools.DotNet/Internal/DesignLoadCon

[2017-01-11 19:18] pranavkm commented on #50
@natemcmaster mentioned that this approach (as is our current one) doesn't work with ClassLibraries - blocked due to https://github.com/dotnet/cli/issues/2645. Linking it here so we can follow up on the blocking issue.

[2017-01-11 19:51] pranavkm opened #55 "Add support for migrating the precompilation tool"
`dotnet migrate` understands specific AspNetCore tools and migrates them to the right MSBuild equivalent. We need to add support for migrating the precompilation tool for the RC3 release.

This includes

a. Removing the CLI tool reference (Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Tools)
b. Renaming the package reference Microsot.AspNetCore.Mvc.Razor.ViewCompilation.Design -> Microsot.AspNetC

[2017-01-11 20:12] natemcmaster commented on #50
Actually, if you are going to try the AssemblyLoadContext approach, the actual blocking bug is this: https://github.com/dotnet/core-setup/issues/635

[2017-01-11 20:31] pranavkm commented on #51
Fixed in https://github.com/aspnet/MvcPrecompilation/commit/1ed838fec91f8e3690569f024397c45005f9a3c3. There's an `MvcRazorRunCommand` that can be overriden to specify the executable to use on desktop and CoreCLR.

[2017-01-11 20:31] #51 closed

[2017-01-11 20:36] pranavkm commented on #50
For the 1.1.0-msbuild3 release, there's an `MvcRazorRunCommand` property that can be overriden to specify the full path to `dotnet.exe` if it's not in the path.

[code]

The `Condition` attribute is required only if the application is being multi-targeted.

Similarly, the property can be used to run the precompilation tool using Mono for net451 on a non-Windows OS.
[code]

[2017-01-11 22:56] Eilon commented on #55
This sounds good. Let's do (d) only if (c) matches.

[2017-01-12 01:26] Eilon commented on #47
@pranavkm any idea if we can just do AnyCPU for this or something? @bricelam had mentioned to me today that he did something similar for `dotnet ef` but I don't know how similar these issues are.

[2017-01-12 18:39] pranavkm commented on #47
Let me give it a try. I'm not sure if `win7-any` is a valid runtime identifier.

[2017-01-12 18:49] Eilon commented on #47
Feel free to sync with @bricelam to brainstorm on this.

[2017-01-12 23:00] #55 closed

[2017-01-13 01:01] bricelam commented on #47
[code]
I'm still trying to figure out how to disable Prefer 32-bit, but that may not be important here.

[2017-01-16 21:14] Eilon opened #57 "Indentation and spacing inconsistent in 'build/common.targets'"
I &nbsp; mean , &nbsp; come &nbsp; on!&nbsp;&nbsp;

The indentation of the elements is inconsistent. And also there are some double-spaces before some `/>` sections.

[2017-01-16 23:11] Eilon opened #58 "Do not disable publishing views if MvcRazorCompileOnPublish is not set"
Creating a bug to track https://github.com/aspnet/MvcPrecompilation/pull/56.

[2017-01-16 23:11] #58 closed

[2017-01-17 11:04] DamianEdwards commented on #53
We could certainly have some UI on the project property pages for configuring view compilation. Beyond just enabling/disabling it on build/publish, what else would it make sense to be able to configure?

[2017-01-17 11:12] DamianEdwards opened #59 "Precompile includes view files found in obj and bin folders of project"
The view compilation tool should exclude `obj` and `bin` folders by default. Right now, it finds all views under the project and includes them. Views often end up in `obj` due to publish using it as a temporary storage location, and in `bin` because the default publish output path is under `bin`. This results in compiled view assemblies that are much larger than necessary.

[2017-01-17 11:12] DamianEdwards commented on #59
@pranavkm @Eilon

[2017-01-17 18:08] Eilon commented on #59
Is there a "reliable" way of excluding these folders?

That is, it seems like there are two approaches:

1. Exclude stuff we don't want. Problem: We might not know all the things to exclude.
2. Include stuff we do want. Is it possible to take all the CSHTML files within the "Content" glob or similar?

[2017-01-17 18:24] DamianEdwards commented on #59
Ultimately the application owns the place views are search for, and the view engine defaults to `IHostingEnvironment.ContentRoot`, which is set in the application. In our templates, that's set to CWD, but the app can do whatever it likes.

If possible, it would seem best to have the target default to using all `<Content />` items in the project that end with `.cshtml`, with a property that can be

[2017-01-17 18:31] Eilon commented on #59
Let's fix for this tool's "RTM".

[2017-01-17 18:57] pranavkm commented on #59
It does exclude build output directories -

* https://github.com/dotnet/sdk/blob/9d0b7a7b268eea4fc223be0935353cdddb99f5c7/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.DefaultItems.targets#L32
* https://github.com/aspnet/websdk/blob/dev/src/Web/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.props#L27

We could use the list of `Content`

[2017-01-17 19:19] Eilon commented on #59
This sounds fine to me in general. As far as the F5 scenario finding "excluded" views, I'm not too concerned about that. @DamianEdwards ?

[2017-01-18 03:16] Eilon opened #62 "Need to add E2E test that builds and publishes an MVC app w/ various compilation settings"
Some scenarios to cover:
1. A matrix of true/false combinations to enable view compilation, and to control whether views are published
2. A matrix of debug/release combos, e.g. build debug, then publish as release

And, umm, other stuff!

[2017-01-18 23:56] pranavkm commented on #44
We've completely rehauling how precompilation gets invoked, so the original issue is certainly no longer going to be valid. @codeimpossible, I'd recommend filing a separate work item for the other issue simply to avoid work item scope creep.

[2017-01-18 23:56] #44 closed

[2017-01-19 12:04] nielstanis commented on #53
So from past implementations in VS there we're options like 'Allow precompiled site to be updateable' in the configure section if you perform a precompilation of e.g. ASP.NET MVC application.  Configuring that will fully embed the views in the DLL and that's the behavior that I needed.
Not seeing that option being available in one of the MvcPrecompilation arguments I'm assuming that won't be somet

[2017-01-19 17:56] pranavkm commented on #53
We don't currently support precompiled updateable views so having a UI option to enable it seems unlikely. You could look at something like https://github.com/aspnet/MvcPrecompilation/issues/39 if you'd like to use views on disk over precompiled views.

[2017-01-19 18:28] Eilon commented on #47
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 18:28] Eilon commented on #40
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 18:32] pranavkm commented on #40
Do we plan on releasing a project.json targeting update for the tool? Or is the plan to roll this fix in with the 1.1.0 RTM build of the package that targets csproj?

[2017-01-19 20:01] Eilon commented on #40
Yeah, taking this out of the "patch" list because we can just do it in the RTM build of this, which hasn't shipped yet.

[2017-01-19 20:01] Eilon commented on #47
Taking this out of the "patch" list because we can just do it in the RTM build of this, which hasn't shipped yet.

[2017-01-20 00:05] pranavkm commented on #40
We don't have to do anything here. The fix is already part of the 1.1.0 release so this can be closed.

[2017-01-20 00:05] #40 closed

[2017-01-20 07:09] nielstanis commented on #53
Thanks @pranavkm! Maybe a bit different than how I explained in my previous message but in our situation we want to views not to be update-able (not using any views on disk) and that's exactly what the current behavior of MvcPrecompilation is.

[2017-01-24 19:59] #27 closed

[2017-01-24 19:59] pranavkm commented on #27
Fixed in https://github.com/aspnet/MvcPrecompilation/pull/65

[2017-01-24 20:00] pranavkm commented on #33
Fixed in https://github.com/aspnet/MvcPrecompilation/pull/65

[2017-01-24 20:00] #33 closed

[2017-01-24 20:00] #59 closed

[2017-01-24 23:00] pranavkm commented on #57
Fixed as part of https://github.com/aspnet/MvcPrecompilation/commit/501540c76e32abb5ae49d1c3e9730b63eb38aa4c

[2017-01-24 23:00] #57 closed

[2017-01-24 23:02] pranavkm commented on #48
Switching to csproj resolved this issue. Addressed as part of the migration in https://github.com/aspnet/MvcPrecompilation/commit/3f5cce41c1ba11c4e574bd1ccc2464b4285621be

[2017-01-24 23:02] #48 closed

[2017-01-26 18:48] pranavkm commented on #47
Fixed in https://github.com/aspnet/MvcPrecompilation/issues/66

[2017-01-26 18:48] #47 closed

[2017-01-26 22:34] pranavkm opened #67 "Include file names as part of printing Razor parse errors"
Ported from https://github.com/aspnet/Razor/issues/951

[2017-01-27 12:52] AR1ES opened #69 "Stop publishing on view precompilation failed"
Is it possible to prevent publishing on precompilation error and exit with a non-zero exit code?

[2017-01-27 18:11] pranavkm commented on #69
The issue is specific to scripts in project.json based projects (https://github.com/dotnet/cli/issues/3266). This is fixed once you update to the MsBuild based tooling.

[2017-01-27 18:11] #69 closed

[2017-01-27 23:32] pranavkm opened #70 "Adding a reference to Microsoft.AspNetCore.Mvc.Razor.ViewCompilation package stops publishing views when MvcCompileViewsOnPublish is disabled"

[2017-01-27 23:32] pranavkm commented on #70
Fixed in https://github.com/aspnet/MvcPrecompilation/commit/501540c76e32abb5ae49d1c3e9730b63eb38aa4c

[2017-01-27 23:33] #70 closed

[2017-01-27 23:38] pranavkm opened #71 "[Discussion] Microsoft.AspNetCore.Mvc.ViewCompilation 1.1.0-msbuild3-update1 released"
Discussion for https://github.com/aspnet/Announcements/issues/217

Today, we released a version of [`Microsoft.AspNetCore.Mvc.Razor.ViewCompilation`](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation/1.1.0-msbuild3-update1) that supports MsBuild based projects as part of the January 27th RC release of Visual Studio 2017 (https://blogs.msdn.microsoft.com/visualstudio/201

[2017-01-28 07:02] ctolkien commented on #71
Just to clarify, if we're still on `project.json` we should skip this for now?

[2017-01-28 07:03] GuardRex commented on #71
Is it possible to get it running with nightly bits? I don't see the precompiled view DLL when I set things up this way :point_down: and `dotnet publish -c Release -r win10x64`.

### `csproj`
[code]
### Feeds
[code]
### Enviornment
[code]

[2017-01-28 07:35] GuardRex commented on #71
Couple of questions:
1. There's a fallback to views if the DLL isn't present, correct? Is that relevant tho? ... Under what scenario(s) would the precompiled views DLL deployed but it falls back to using ordinary views anyway?
2. How reliable are precompiled views? If reliable, can we dump the compilation context and always run the app on the precompiled views? Then, can we further stop `Sdk.Web`

[2017-01-28 08:10] dasMulli opened #72 "Don't infer runtime built on through target framework built for"
I don't think that it is a good idea to infer the framework / OS you are building ON through the target framework you are building FOR. The NuGet package ships with binaries for netcoreapp1.1 and net451 and tries to run them during build depending on the framework building for.

This crashes horribly when trying to build for `net461` from a macOS machine.
Ideally, [like the SDK](https://github.com

[2017-01-28 08:11] nwoodthorpe-test1 commented on #72
❤️ 💚 💙 💛 💜![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f5a4.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f499.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f494.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f491.png?v7 "L

[2017-01-28 15:24] GuardRex opened #73 "Precompiled views are not generated for small footprint self-contained app"
Repro project: https://github.com/GuardRex/testselfcontained

This project fails to run due to another issue: https://github.com/aspnet/Configuration/issues/589
It also isn't having its `web.config` configured correctly: https://github.com/aspnet/websdk/issues/108

In addition, it also isn't having its views precompiled (no DLL) ...

![capture](https://cloud.githubusercontent.com/assets/1622880/22

[2017-01-28 18:06] pranavkm commented on #71
@ctolkien - yes, the `1.1.0-preview4-final` versions of `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design` and `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Tools` are the most recent, and possibly the final, set of packages targeting project.json. The MSBuild based tooling is generally incompatible with project.json based projects and vice-versa.

@GuardRex, thanks for noticing that! Fixed

[2017-01-31 18:48] msmolka opened #74 "Problem with identifying problem with procompilation"
I'm using 1.1.0-preview4-final tools.
Have couple of project all other compiling properly (they are much smaller)
Every time I'm trying precompile my portal I'm getting error:

Running Razor view precompilation.
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Publishing.targets(149,5): Error :  (5): Encountered end tag "a" with no matching start tag.  Are your s

[2017-01-31 19:03] pranavkm commented on #74
@msmolka - we fixed this issue as part of the 1.1.0 release (https://github.com/aspnet/MvcPrecompilation/commit/2276c9eafeb351a5d4b000ad0723d02ec7a52f64). For the preview4 tools, there isn't a great way to diagnose the issue. Essentially all the tool does is iterate over the ContentRoot (unless modified this is the working directory) and locate all cshtml files recursively (essentially `dir /s *.c

[2017-01-31 19:16] msmolka commented on #74
Is this fix available anywhere to download, or you can provide nupkg file? So I could try.

The strange thing is related to no views at all. Even if I delete all views from my project, no single cshtml file, I still have this error. Maybe it is cached somewhere? But I could identify the place where.

[2017-01-31 19:20] pranavkm commented on #74
@msmolka unfortunately we're no longer producing updates to the package targeting project.json. If you intend on updating to the MSBuild based tooling, the package with this fix should become available on our nightly feed - `https://dotnet.myget.org/f/aspnetcore-dev/api/v3/index.json` in a bit. I need to merge some changes in.

[2017-01-31 19:22] msmolka commented on #74
@pranavkm I would like to try, if you guide me (let me know where to find info) how to migrate in vs 2015 from project.json to msbuild. If it is even possible.

[2017-01-31 19:28] pranavkm commented on #74
MSBuild based tooling specifically works with VS 2017. A migration guide is available here - https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/#upgrading-your-project-to-use-net-core-11.

[2017-01-31 19:30] #67 closed

[2017-01-31 19:30] pranavkm commented on #67
Fixed in https://github.com/aspnet/MvcPrecompilation/commit/2276c9eafeb351a5d4b000ad0723d02ec7a52f64

[2017-02-01 06:42] msmolka opened #75 "Precompilation should comply compile rules (exclude node_modules folder)"
Hello
Last whole day I tried to find the problem with precompilation and find wrong view.
After some advises from @pranavkm I finally found bad file.
It occurred to be wrong file in one folders under node_modules.
in project.json file I have following build option:

[code]
so I was expected this folder will be excluded from compilation. But it is not. I don't now how it is planned to be solved in

[2017-02-01 06:46] msmolka commented on #74
@pranavkm At this moment I'm not ready for VS2017.

But I'd like to thank you for advice with finding wrong file (`dir /s *.cshtml`). It occurred to be under node_modules one. I was expecting to that folder will be ignored. I've reported separate bug: #75

This one can be closed.

[2017-02-01 17:20] pranavkm commented on #75
@msmolka - we addressed this with the msbuild tooling - https://github.com/aspnet/MvcPrecompilation/issues/59. Files specified in the project file (csproj) are the only ones included during compilation.

[2017-02-01 17:20] #75 closed

[2017-02-01 17:21] pranavkm commented on #74
@msmolka - thanks for the other work item. This is another issue that we addressed with the updated MSBuild based tool.

[2017-02-01 17:21] #74 closed

[2017-02-01 17:43] pranavkm commented on #73
@GuardRex - was the incorrect web.config the underlying issue or did you happen to accidentally close this?

[2017-02-01 18:07] GuardRex commented on #73
Nah ... I figured it's premature. I figured it would be best to wait until 2.0 ships and if it's still not working, I would open (or re-open these) issues at that time.

The main problem right now when it runs is a runtime error for https://github.com/aspnet/Configuration/issues/589, which I just confirmed is still happening. (I'm on `1.0.0-rc4-004732` now.)

[code]

It's also not producing precom

[2017-02-02 18:50] pranavkm opened #76 "Add an option to disable publishing "refs" assemblies if compilation of views is enabled"
We'd have a flags similar to `MvcRazorExcludeViewFilesFromPublish` that allows disabling this feature. Relevant line of code in the SDK: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.PreserveCompilationContext.targets#L44-L47. We could ask the SDK team if they would consider adding a specific flag to disable publishing refs, but it would be safer

[2017-02-02 18:51] pranavkm commented on #76
@Eilon - needs to be triaged for the 1.1.0 (tooling RTM release).

[2017-02-03 17:25] GuardRex opened #77 "Intermittent issue"
This exception appeared before (a week or two ago), and I was able to clear it by nuking `obj`/`bin` and nuking the package cache. It popped up again this morning.

I was able to clear it with the same process, but I had to go through the process twice to clear it (for no obvious reason).

The way to clear it is ...
1. Delete 'bin` folder
2. Delete `obj` folder
3. `nuget locals all -clear` (nuke p

[2017-02-03 19:12] Eilon commented on #76
We're kind of supposed to be shut down for this release.

@DamianEdwards any thoughts on priority of this?

[2017-02-03 19:54] DamianEdwards commented on #76
I asked @pranavkm to do this. This would be the only change we make between msbuild3-update1 and RTW. As it is right now, we're leaving many MBs of assemblies in the publish output that otherwise don't have to be there when view pre-compilation is enabled. Would be great to get this in for the final release if possible.

[2017-02-03 21:36] Eilon commented on #76
@pranavkm do you think you can get this in today or Monday?

[2017-02-03 21:48] DamianEdwards commented on #76
FWIW I just did this manually in my own project and it worked: https://github.com/aspnet/live.asp.net/commit/d9efda86dd509cede7b35761a775c05ca935b0a8
This is what we'd be doing in the package by default, with the added condition for the opt-out property.

[2017-02-03 21:57] Eilon commented on #76
@DamianEdwards do any project templates need to change to start using this new option?

[2017-02-03 21:57] DamianEdwards commented on #76
No

[2017-02-03 21:58] DamianEdwards commented on #76
The intent is it would be the default behavior when `<MvcRazorCompileOnPublish>true</MvcRazorCompileOnPublish>` is specified, which it already is in the templates.

[2017-02-03 21:58] Eilon commented on #76
Ok, so by default when you use pre-compilation, you will typically no longer even be able to compile CSHTML at runtime. E.g. no more "dynamic" stuff. I think that's fine.

[2017-02-03 21:59] DamianEdwards commented on #76
Correct, we'd remove the CSHTML files and refs from publish output by default.

[2017-02-04 12:45] guylando commented on #71
Hi,
The Microsoft.AspNetCore.Mvc.Razor.Precompilation version 1.1.0-msbuild3-update1 uses version 1.1.0.0 of Microsoft.AspNetCore.Mvc.Razor, Microsoft.AspNetCore.Mvc.Core, Microsoft.AspNetCore.Mvc.Razor.Host.
However in my solution I upgraded those packages to 1.1.1 after the security bulletin which was published.
So I had error regarding not finding 1.1.0.0. I solved them by adding App.Config fil

[2017-02-04 19:00] GuardRex commented on #77
Let me know if I can provide more info ... this is happening constantly ...
[code]
... and I'm wondering if it's related to bad package restores. After obtaining new tooling and when I restore the project, I'm getting quite a few ...
[code]
I'll try to see if *when* I can restore cleanly (after nuking package caches) *if* the views compile properly.

Yesterday, it took two rounds of nuking the cac

[2017-02-06 17:24] pranavkm opened #78 "ViewCompilation 1.1.0-msbuild3-final does not work with Microsoft.AspNetCore.Mvc 1.1.1"
Based on comment here - https://github.com/aspnet/MvcPrecompilation/issues/71#issuecomment-277443739

NuGet doesn't look at the `build` directory when determining what binding redirects to produce. Consequently running the exe fails since it can't find the 1.1.0 versions that it's compiled against.

[2017-02-06 17:25] pranavkm commented on #78
cc @DamianEdwards \ @Eilon - could we do this along with #76?

[2017-02-07 04:30] GuardRex commented on #77
Seems like when this happens that I need to remove the package reference for view compilation ... publish the app ... then add the package reference back ... publish again.

[2017-02-07 04:49] GuardRex commented on #77
Ok, this seems reliably create a working app with precomp views ...
1. Delete the `bin` folder
2. `<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>`
    `<PreserveCompilationContext>true</PreserveCompilationContext>`
3. Restore
4. Publish
5. `<MvcRazorCompileOnPublish>true</MvcRazorCompileOnPublish>`
    `<PreserveCompilationContext>false</PreserveCompilationContext>`
6. Publish

It's im

[2017-02-07 21:22] #78 closed

[2017-02-07 21:22] #76 closed

[2017-02-07 21:24] pranavkm commented on #77
In general, view compilation isn't supposed to run without compilation context it's likely that's causing the issue here.
I just checked in a change to prevent publishing the refs directory if view compilation is enabled. Does that address what you were trying to do here?

[2017-02-07 21:27] #77 closed

[2017-02-09 20:08] pranavkm opened #81 "Don't publish precompilation binaries on desktop"
The SDK publishes all native assets to the publish directory. We want to avoid publishing the net451 binaries

[2017-02-09 22:03] pranavkm commented on #81
@DamianEdwards - I have a change ready for this that removes precompilation specific runtimes files from the output when publishing for desktop. However, if the ViewCompilation package happens to be referenced without the `PrivateAssets="All"` node, it causes the application to fail to launch. This is because the deps.file lists the binary which Mvc then attempts to read \ load. We could look at t

[2017-02-09 22:03] pranavkm commented on #81
cc @Eilon

[2017-02-10 13:01] guylando commented on #78
@pranavkm when is 1.1.0-msbuild supposed to be published to nuget.org?

[2017-02-10 13:11] guylando opened #83 "Clarification: compilation on build not supported?"
1)When I think about views compilation it seems like something I would also like to have as part of my solution build to find errors at this stage and not at runtime.
2)I have read the announcement https://github.com/aspnet/Announcements/issues/217 and it did not clarify whether compilation on solution build is something which is supported\going to be supported. There is the MvcRazorCompileOnPubli

[2017-02-10 17:35] Eilon commented on #78
@guylando we're just finishing some testing on it and we'll release it ASAP!

[2017-02-10 18:35] pranavkm commented on #83
Precompiled views are preferred cshtml files by Mvc. This takes away the edit the cshtml file and refresh in browsers that users are familiar with. Consecutively, we did not build a `MvcRazorCompileOnBuild` hook as part of
our targets. That said, all it takes to enable view compilation as part of build is to invoke the `PrecompileRazorViews` build target. Here's what it would look like:

[code]

T

[2017-02-10 22:06] ygoe opened #84 "How is this used?"
I see this project seems to be related to NuGet package names I can find in a hidden corner of the web, but I have no idea where to start. I installed the latest Visual Studio 2017 RC and created a new Web application project with ASP.NET Core and .NET Core 1.1. (I've tried with .NET Framework 4.6.1 before but this NuGet package wasn't available for that runtime. I guess view compilation will only

[2017-02-10 23:36] pranavkm commented on #84
Have you looked at the announcement for the release of the msbuild tool - https://github.com/aspnet/MvcPrecompilation/issues/71? It has some instructions on what you'd need to do to get going with view compilation in AspNetCore Mvc Core. The preview* line of all AspNetCore tools were designed for project.json based applications and aren't compatible with the MSBuild project system.

[2017-02-11 08:56] ygoe commented on #84
That works, thank you!

[2017-02-11 08:56] #84 closed

[2017-02-14 18:48] pranavkm commented on #81
We decided not to address this.

[2017-02-14 18:48] #81 closed

[2017-02-16 21:33] ygoe commented on #78
The updated package is available today and works for me on .NET Framework 4.6.1. Thank you!

[2017-02-16 21:44] ygoe opened #85 "Use multiple assemblies with compiled views"
I'm currently investigating how to build an ASP.NET plugin mechanism that allows adding more controllers and views to an existing web application as plugins. I'd probably know how to add routes and have heard about ways to add more controllers to the resolving process. But how can I add more views that can be used by the controllers provided by the plugin? Could I just use this NuGet package for m

[2017-02-16 23:50] pranavkm commented on #85
Yup, that should just work. We do something similar in one of our test applications (https://github.com/aspnet/MvcPrecompilation/tree/dev/testapps/ClassLibraryWithPrecompiledViews) that's then consumed by an application (https://github.com/aspnet/MvcPrecompilation/tree/dev/testapps/ApplicationUsingPrecompiledViewClassLibrary). Simply referencing the package would suffice.

Note that, due to the wa

[2017-02-17 11:50] #83 closed

[2017-02-17 11:55] guylando opened #87 "Print an error when MvcRazorFilesToCompile is empty"
I added the precompilation package and csproj tag and when I publish the main project I get the error:

[code]

I have a solution with a couple of projects where the views are separated to a different project than the main project. Does the views precompilation supports such a situation? Is this related to the error?
Do you recognize this error or encountered it before and have a workaround?

[2017-02-23 13:26] mehmetilker opened #91 "Views are not updated during publish when cshtml content is modified"
In my MVC Core app MvcRazorCompileOnPublish is set true and I can not see my changes I made on view on published site. I have to run clean manually every time.
I tried to add "dotnet clean" job  on BeforeTargets="Publish" but does not work.

Is there anything I need to add my project configuration file ?

I am using Microsoft.AspNetCore.Mvc.Razor.ViewCompilation Version="1.1.0-msbuild4-final"
And

[2017-02-23 16:32] pranavkm commented on #91
The behavior is intentional - we currently don't support precompiled updateable views i.e once we discover a precompiled view, we do not look for the a cshtml file for the lifetime of the application. It's primarily the reason we did not enable this feature as part of build - we want to continue supporting the _edit cshtml and refresh browser_ behavior that developers are accustomed to.

There are

[2017-02-24 07:08] mehmetilker commented on #91
I guess there is misunderstanding here. Problem is not happening when I hit F5 and run the project inside of VS (on Build in this case).

What I am doing is that, creating a "Publish Profile" with publish to a folders option and delete all existing files setting.

What Precompile view is doing, I assume, compiling cshtml files and merge them in single library.

Problem is that when I copy publishe

[2017-02-24 16:37] pranavkm commented on #91
To clarify here's what's happening:

1. Publish an application with precompilation enabled
2. Modify a cshtml file
3. Publish the application again

Expected:
Rendered view has the modified view content

Actual:
View content isn't updated.

Does this sound accurate?

[2017-02-24 16:46] mehmetilker commented on #91
That's right.
If do "Clean Solution" before every publish I can see the modified content (edits in cshtml file).

[2017-02-25 03:19] awcab commented on #71
Is it possible to have this enabled when just building and not deploying?

[2017-02-25 15:10] GuardRex commented on #71
@swcab If by "deploying" you mean "publishing," a build automatically accompanies publishing. Do you mean "Debug" vs. "Release"? If so, you could set a `Condition` to control it ...
[code]

[2017-02-25 15:16] awcab commented on #71
@GuardRex I did mean publish.  Currently I'm only seeing compile errors on package or publish and not just when I build.  Maybe I'm missing another setting?

[2017-02-25 15:33] GuardRex commented on #71
@awcab Ah ... I see. It sounds like something else has gone wrong then. I suggest opening a new issue in this repo with the details about the compile errors you're seeing. If you can setup a small repro to go with the issue, that's often helpful. If setting up a repro project would be very time-consuming, then just describe the situation ... they might not need a repro to help you solve the proble

[2017-02-25 15:37] awcab commented on #71
@GuardRex Just to be clear I'm talking about compile errors in my Views.  I want compile errors to fail the build and not have to go through a package/publish step.  Currently, publish does trigger a build, but I would like to see these just during a build without a publish.  This is the way it happened with pre-Core Asp MVC.

[2017-02-25 15:58] GuardRex commented on #71
@awcab See if you can chat with @dasmulli or some of the other devs on Slack. It might be quicker to get assistance given that its the weekend. The self-signup is via: http://tattoocoder.com/aspnet-slack-sign-up/

[2017-02-25 16:26] pranavkm commented on #71
@awcab does https://github.com/aspnet/MvcPrecompilation/issues/83#issuecomment-279027377 address your scenario?

[2017-02-25 16:31] dasMulli commented on #71
So @GuardRex asked to make it work for build & publish.. came up with that:

[code]

[2017-02-25 16:40] pranavkm commented on #71
You could possibly replace the second target with the `MvcRazorCompileOnPublish` property. The one issue with enabling it on build and leaving the precompiled view around is that you lose the edit-cshtml-and-refresh-the-browser experience. If that's something you want to keep, remove the binary from the output path after it's compiled. This should make the behavior analogous to the [`MvcBuildViews

[2017-02-25 16:52] dasMulli commented on #71
Or replace this from my example
[code]
with
[code]

That way, the views will be checked on every build but only used when publish (since the dll isn't dropped next to the main dll on build).

[2017-02-25 17:47] GuardRex commented on #71
Would it be cleaner to fail a unit test rather than inject all of that into the project file? If so, what would a unit testing approach look like? (just curious)

[2017-02-25 19:39] awcab commented on #71
@pranavkm It would be nice to keep edit and refresh. However, this is part of a service fabric application and so far I lost any sort of edit and refresh, even js and html. If anyone knows how to get that working that would be fantastic.

[2017-02-25 19:40] awcab commented on #71
@GuardRex IMO unit tests should be used to check runtime behavior.  Earlier detection is always better.

[2017-02-25 21:18] GuardRex commented on #71
@awcab Just curious: As a feature request, are you hoping for something simple like `<MvcRazorCompileOnBuild>` that applies notwithstanding how `MvcRazorCompileOnPublish` is set? [Things would get a little hairy if the reverse were true ... build is set to false but publish is set to true.]

[2017-02-26 15:31] awcab commented on #71
@GuardRex Yes, I think that's exactly what I would like.  Wasn't the the previous default behavior?

[2017-02-26 15:39] GuardRex commented on #71
@awcab idk on the previous behavior. They'll say if they want that in a feature request issue opened separately. What @dasMulli and @pranavkm show is wonderful, but it seems kind'a heavy for such a simple requirement. I just wanted to clarify what would be the simplest public feature from a UE perspective in case this becomes a real ask (i.e., a real feature request).

[2017-02-27 21:12] awcab commented on #71
Just FYI, this works well except that compile errors shown in the error list are not hotlinked to the source.  I realize this is probably a VS issue.

[2017-02-28 02:20] kiwiant opened #92 ""Could not load file or assembly" exception when AssemblyName element specified in .csproj"
This works for a default project where the assembly name hasn't been specified. When the AssemblyName is specified the Precompilation fails with "Could not load file or assembly" as its trying to look for an assembly based on the project file name and not the assembly name.

Snippet from .csproj...

[code]

[code]

[2017-02-28 18:17] Eilon commented on #87
Hi @guylando , I think that the scenario you describe should work.

Can you please share your project, or at least the relevant parts of your csproj file? Also, if you can share the generated `obj\Release\net451\microsoft.aspnetcore.mvc.razor.viewcompilation.rsp` file that would help as well.

[2017-02-28 18:18] Eilon commented on #91
Sounds broken to me...

[2017-02-28 18:22] Eilon commented on #92
Yeah that sounds broken.

cc @ryanbrandenburg because you were also looking at some oddities with project name / assembly name / project *file* name etc.

[2017-02-28 18:29] pranavkm commented on #92
Might be a dup of https://github.com/aspnet/Mvc/issues/5780 that was addressed by https://github.com/aspnet/MvcPrecompilation/pull/82

[2017-02-28 19:21] Eilon commented on #92
@pranavkm can you confirm and if so, close as a dup?

[2017-02-28 20:01] pranavkm commented on #92
Yup, this is a dup. @kiwiant you're welcome to try out a build of the package from our nightlies `https://dotnet.myget.org/f/aspnetcore-dev/api/v3/index.json`) where this issue has been fixed.

[2017-02-28 20:01] #92 closed

[2017-02-28 20:17] kiwiant commented on #92
Thanks guys. Appreciate it.

[2017-03-04 01:31] pranavkm opened #93 "Add support for RazorPages"

[2017-03-04 01:33] pranavkm opened #94 "Make Microsoft.AspNetCore.Mvc.Razor.ViewCompilation a default dependency of Microsoft.AspNetCore.Mvc"
The idea would be to have the package reference there by default. Setting `MvcRazorCompileOnPublish` would cause view compilation to light up. This would require moving the tool in to the Mvc repository.

[2017-03-09 18:13] pranavkm commented on #85
Closing for now. Feel free to reopen if this is still an open question.

[2017-03-09 18:13] #85 closed

[2017-03-09 18:21] Eilon commented on #87
Closing because we don't have enough information to reproduce.

[2017-03-09 23:35] pranavkm opened #95 "Refactor sln to work on the CI where the pinning utility looks for sln files at root"
Universe's pinning discovers solution files at the root of the application to determine the version of packages to pin. This misses test apps since the sln is not in the app root. We should move it up (and ensure all the projects are listed in it) to avoid this failure.

[2017-03-10 10:02] henkmollema commented on #87
@Eilon I'm running into this issue too since I've migrated to MSBuild. It worked using the project.json.

I have a class library with views which I want to precompile and embed into the assembly to consume them in multiple applications. This scenario is similar to what is begin tested in this repo with these projects:
[ClassLibraryWithPrecompiledViews](https://github.com/aspnet/MvcPrecompilation/t

[2017-03-10 10:08] henkmollema commented on #87
I was thinking, does the 1.1 runtime packages of this even work with MSBuild tooling?

[2017-03-10 10:13] henkmollema commented on #87
I guess the problem is that the `--file=` part is empty. My templates are in this folder structure (starting from the root):
[code]

[2017-03-10 11:08] henkmollema commented on #87
@Eilon @guylando I guess I found the issue. When I use the Web SDK it seems to work:
[code]

Perhaps there is some magic in there that makes  this work.

[2017-03-10 12:46] pranavkm commented on #87
@henkmollema  Thanks for looking in to this at depth. The `Microsoft.Net.Sdk.Web` marks cshtml files as [`Compile`](https://github.com/aspnet/websdk/blob/dev/src/Web/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.props#L29) which is what we look for
https://github.com/aspnet/MvcPrecompilation/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor.ViewCompilatio

[2017-03-10 15:38] henkmollema commented on #87
Thanks @pranavkm. That makes sense.

[2017-03-10 17:42] Eilon commented on #87
Is it actually an error to have no CSHTML files? Perhaps a warning would make more sense?

[2017-03-10 17:42] Eilon commented on #87
cc @DamianEdwards for thoughts.

[2017-03-10 17:44] pranavkm commented on #87
Yeah, that would be fine.

*Precompilation is enabled, but no cshtml files were found. Set `...` in your project to specify the views to compile.*

[2017-03-13 09:14] nielstanis opened #98 "PDB file not created for App.PrecompiledViews.dll when publishing with debug"
When working with the released NuGet package in combination with VS 2017 RTM the publish of a debug config does not create the App.PrecompiledViews.pdb file. I'm not seeing any config option that might be related to toggle it. Is there anything I'm missing out on?

[2017-03-13 09:57] nielstanis commented on #98
Turns out that the obj/debug folder does contain the PDB but the publish does not copy the file to the output directory...

[2017-03-13 17:58] pranavkm opened #99 "Add tests to verify tests work for both Debug and Release configurations"
Right now we publish test apps in the configuration tests are running. This doesn't give us enough coverage for `Debug` publishes in particularly on the CI where it always builds in `Release`. Based on https://github.com/aspnet/MvcPrecompilation/pull/97#discussion_r105547719, let's add some tests that verify debug and release configurations all the time.

[2017-03-13 18:06] #95 closed

[2017-03-13 18:09] pranavkm commented on #99
@Eilon - I'd much rather we do a select few tests with `Debug` \ `Release`. These tests run linearly (not parallel), so doing all of them in both Debug and Release would double the time, something that would be nice to avoid. Particularly if we plan on doing #94 which might involve moving this repo code in to Mvc.

[2017-03-15 16:39] freshe opened #100 "N of views compiled."
A bit silly but prior to VS17 i could see how many views where compiled in the output window during publish. Can that be turned on? I found it useful somehow..

[2017-03-15 17:01] pranavkm commented on #100
That got removed during some of our refactoring to make the tool from a CLI tool to an msbuild target. We can certainly add more diagnostics in the upcoming release.

[2017-03-15 17:16] Eilon commented on #99
Yeah just adding some specific ones is fine. I want to make sure we have good coverage of the various realistic scenarios apps will encounter.

[2017-03-17 01:27] ctolkien commented on #72
I think this is the issue I'm hitting.

I have a target framework of `net461`, however if I try and publish without a `RuntimeIdentifier` specified, the publish process fails with:

There is no executable with that name on disk.

If I specify a RID, then it works, however what I'm publishing _from_ has little bearing on what I'm publishing _to_.

[2017-03-19 22:06] Daniel15 opened #102 "View compilation fails when cross-compiling for Linux on Windows"
1. Use Visual Studio to create a new ASP.NET Core Web Application (.NET Framework). Note: **Not** .NET Core, as I'm running my site on Mono with the full .NET Framework.
2. Add NuGet reference to `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation` version 1.1.0
3. Modify the `csproj` to add:
[code]
4. Run
[code]

Expected: Publish works as expected
Actual: Error is thrown:
[code]

[2017-03-19 22:27] Daniel15 commented on #102
Here's my hacky workaround: Build first for Windows, then build for Linux with view precompilation disabled, then copy across the PrecompiledViews assembly:
[code]

[2017-03-19 22:31] davidfowl commented on #102
None of the toolchain natively supports mono anymore. You'll hit edges like this all over the stack. The "fix here" is to have the driver invoke mono {exe} when running on Linux and targeting net4x

[2017-03-19 22:32] Daniel15 commented on #102
@davidfowl - I'm not running the tools on Mono, I'm only running the published website on Mono (which works fine). I'm running those `dotnet restore` and `dotnet publish` commands on the regular .NET Framework on Windows 10.

[2017-03-20 17:13] pranavkm commented on #102
Sort of related to https://github.com/aspnet/MvcPrecompilation/issues/72. I'll speak to @Eilon about what we need to do about these class of issues.

[2017-03-21 12:30] simsod commented on #102
Just want to add that this also occurs when trying to publish for windows on osx.
ie: dotnet publish -r win7-x64
On osx sierra (osx.10.12-x64)

[2017-03-21 12:40] karl-sjogren commented on #102
To expand a bit on what @simsod said. We are building this on OSX to be deployed on a Windows server.

``` dotnet publish -r osx.10.11-x64``` gives the following output:

[code]

``` dotnet publish -r win7-x64``` on the other hand crahes like this:

[code]

If test it out on a Windows 10 machine the opposite things work (ie win7-x64 compiles fine and osx.10.11-x64 fails with a similar error). If I

[2017-03-21 16:34] pranavkm commented on #102
@karl-sjogren, would you mind filing a separate issue for your thing? The original issue is about trying to target desktop (`net4x`) on cross-plat environments. In general, targeting mono isn't a supported scenario. There might be a few knobs that might attempt to make it work, but none of it is designed to work out of the box. Your scenario is different, trying to publish a standalone for a rid t

[2017-03-21 16:44] Daniel15 commented on #102
@simsod @karl-sjogren  - The same workaround that I'm using might work for your use case too: Build for the "current" platform, then build for the destination platform, then copy across the PrecompiledViews assembly.

[code]

[2017-03-21 16:45] Daniel15 commented on #102
@simsod @karl-sjogren  - The same workaround that I'm using might work for your use case too: Build for the "current" platform, then build for the destination platform with view precompilation disabled, then copy across the PrecompiledViews assembly.

[code]

It's a bit slower as it builds the site twice, I couldn't get view precompilation working without doing a full build though (running the Vie

[2017-03-21 17:22] karl-sjogren commented on #102
@pranavkm Sorry, I missed that he said mono and not netcore (not sure how I missed that). The error just looked so much like ours. I'll file a separate bug tomorrow when I get in at work.

[2017-03-22 06:47] karl-sjogren opened #103 "Cross-compiling views between osx.10.11 and win7-x64 fails after moving to csproj/msbuild tooling"
### Functional impact
Precompilation of views fails making our startup times a lot slower.

### Minimal repro steps
Doing this on OSX El Capitan, 10.11.6. My colleague can reproduce it on OSX Sierra, 10.12, as well. A very similar error can be seen if doing it the other way around as well (compiling on Windows for OSX).

1. `dotnet new mvc`
2. Updated csproj to include the following

[code]
3. `do

[2017-03-22 06:57] karl-sjogren commented on #103
A (ugly and slow) workaround for this is available in https://github.com/aspnet/MvcPrecompilation/issues/102#issuecomment-287653103.

[2017-03-22 13:02] pranavkm commented on #103
cc @davidfowl

[2017-03-22 20:25] mehmetilker commented on #91
I just discovered that problem to see changes after publish was about my configuration.
I was zipping publish directory after publish with setting in MSBuild `<Target AfterTarget="Publish">`
I found out that zipping was working before publish complated. I have changed target definition to
`<Target AfterTarget="AfterPublish">` and now it seems everything ok.
Configuration settings are little bit co

[2017-03-22 20:25] #91 closed

[2017-03-22 20:29] pranavkm commented on #91
Thanks for updating the issue @mehmetilker !

[2017-03-22 20:31] GuardRex commented on #91
@mehmetilker

There are some docs coming that will explain out the props and targets. It will take a little while before they're written, but I just wanted to let you know that many feel that way :point_up: and docs will help with the confusion.

[2017-03-23 20:04] tuespetre opened #104 "Use the project's Startup so RazorViewEngineOptions can be configured"
Similar to how `dotnet ef` commands will look for a `Startup` class to pick up configuration, it would be nice if this tool looked for a `Startup` class to pick up configuration for `RazorViewEngineOptions`. For example, we have one application where we have to add metadata references, and because to that, we cannot use view precompilation.

[2017-03-23 21:32] pranavkm commented on #104
@tuespetre - we look for an [`IDesignTimeMvcBuilderConfiguration`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/IDesignTimeMvcBuilderConfiguration.cs) type as part of starting up the application. Here's an example of it being used - https://github.com/aspnet/MvcPrecompilation/blob/dev/testapps/ApplicationWithConfigureMvc/Startup.cs#L8

[2017-03-23 21:35] tuespetre commented on #104
So it is a thing. You sly 🦊

[2017-03-23 21:35] #104 closed

[2017-03-24 07:03] niklaslundberg opened #105 "Precompilation fails when using C# 7.0"
When using precompilation in a web project

- Microsoft.NET.Sdk.Web
- TargetFramework=netcoreapp1.1
- MvcRazorCompileOnPublish=true
- PreserveCompilationContext=true
- LangVersion=7
- NuGet package Microsoft.AspNetCore.Mvc.Razor.ViewCompilation 1.1.0

then it fails throwing an exception:

[code]

[2017-03-24 07:17] davidfowl commented on #105
Did you update the roslyn package?

[2017-03-24 07:30] niklaslundberg commented on #105
I've also installed Microsoft.Net.Compilers 2.0.1, no difference. Also tried with Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.3.

[2017-03-24 07:31] davidfowl commented on #105
Unfortunately, those were both the wrong packages to install. You need to update `Microsoft.CodeAnalysis.CSharp` to 2.0.0

[2017-03-24 07:43] niklaslundberg commented on #105
With NuGet 4.0 and transitive dependencies it makes it hard to find out that there are newer version. Visual Studio 2017 does not show updates to packages unless they are direct dependencies.

Adding Microsoft.CodeAnalysis.CSharp to 2.0.0 solved my issue.

[2017-03-24 07:50] #105 closed

[2017-03-24 14:43] pranavkm commented on #105
Btw, Razor does not support C# 7.0. There's a work item to address this - https://github.com/aspnet/Razor/issues/1046. Changing the language version in the compilation isn't necessarily going to be sufficient to upgrade it.

[2017-03-27 10:23] macgyver76 opened #107 "MVC is still looking for .cshtml files"
When executing `Index` action in Area I've got this error:

Hovewer actions from `LoginController` are performing fine. I assume reason for this that `LoginController` is not in `Areas`.

 I noticed that `.csproj` MVC View Precompilation is deleting .cshtml files from Views folder (in Areas also). As far as know old `.json` style project didn't do that and before migration everything was working o

[2017-03-27 10:32] DenJur commented on #103
I am encountering the same problem with trying to publish for ubuntu from win 7. Here is the error that I am getting:

`C:\Users\name\.nuget\packages\microsoft.aspnetcore.mvc.razor.viewcompilation\1.1.0\build\netcoreapp1.1\Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.targets(25,5): error MSB3073: The command "dotnet exec --runtimeconfig "C:\TmpProj\bin\Debug\netcoreapp1.1\ubuntu.14.04-x64\TmpPro

[2017-03-27 16:28] pranavkm commented on #107
Is that in the output path or in the actual source directory? The ones in the output directory don't get used and the tool attempts to avoid publishing them.

1. Does the view get rendered when you have precompilation disabled?
2. If (1) works, does the casing for the file on disk match the casing of the action name? Precompiled view lookups are case sensitive.

[2017-03-27 16:30] pranavkm commented on #103
Thanks @DenJur \ @karl-sjogren - I haven't gotten around to this as yet - but the primary problem is that we attempt to run the precompilation tool using the app's shared runtime. This clearly does not work when your app targets a runtime from a different OS (a completely valid scenario). The workaround @karl-sjogren has basically involves publishing for the current OS and then re-publishing witho

[2017-03-28 06:14] macgyver76 commented on #107
I mean output of `dotnet publish` command.

Yes. I disabled this feature in my testing environment and views are getting rendered properly.

Yes. Action is located in base controller. And filename is `Index.cshtml` located in specific Area.

[code]

[2017-03-28 16:05] pranavkm commented on #107
Could you stick these lines in a controller to print out what views Mvc discovered:

[code]

Paste the results here, it might help figuring out what's going on here.

[2017-03-29 06:05] macgyver76 commented on #107
Action `en-us/stock/assortment/printviews` produces a long list of view file names. I don't really want to paste them all here so here is the snippet:

[2017-03-31 14:21] aqueenan commented on #107
`PreserveCompilationContext` gets migrated from the project.json, but doesn't seem to affect view file publishing any more.

Replace `<PreserveCompilationContext>true</PreserveCompilationContext>` with `<MvcRazorExcludeViewFilesFromPublish>false</MvcRazorExcludeViewFilesFromPublish>` and the views will be published as before.

That doesn't solve the underlying problem, but should get you working a

[2017-03-31 14:47] pranavkm commented on #107
@aqueenan - the flag was expressly designed to support publishing views as part of the output. However, the issue here isn't the missing files in the outputs, it's that the precompiled view isn't getting discovered by the view engine.

[2017-04-04 11:29] puddlewitt commented on #107
I seem to be having a similar issue but the editor templates...

![ohdear](https://cloud.githubusercontent.com/assets/2998294/24654586/2f492dee-1932-11e7-9b79-6220bfaccab4.png)

They are added to the assembly, but the view engine never finds them.

What's the downside of using `MvcRazorExcludeViewFilesFromPublish=false` does this mean the assembly is ignored because the views now physically exist?

[2017-04-11 08:33] danwalmsley opened #112 "PreserveCompilationContext not working with netcoreapp2.0 (Windows)"
I originally started the bug here:
https://github.com/dotnet/coreclr/issues/10849

I have
'<PreserveCompilationContext>true</PreserveCompilationContext>
in my csproj, when I compile for .netcoreapp1.1 everything works fine, but if I try netcoreapp2.0 it doesn't seem to work.
I get an exception:
Can not find compilation library location for package 'microsoft.netcore.app''

This is with .NET Comman

[2017-04-11 16:38] pranavkm commented on #112
@danwalmsley - the tool hasn't been updated to target `netcoreapp2.0` \ `Microsoft.NETCore.App` as yet. We have ongoing work items (https://github.com/aspnet/MvcPrecompilation/pull/106) to update our samples and tests to verify this, but as of now, this isn't fully supported. I'd recommend waiting until we've had a chance to update our projects to target netcoreapp2.0 and verify it before you star

[2017-04-19 17:44] kichalla opened #115 "Undo the workaround of publishing refs"
To unblock the build following commit was made to fix the below error in CI:

**Error**
[code]

[2017-04-19 17:51] kichalla commented on #115
Commit: 69e2fa82eb719012196ca035518ce7d96546f733

cc @pranavkm

[2017-04-21 17:26] pranavkm commented on #115
Reverted in https://github.com/aspnet/MvcPrecompilation/commit/6b96a38dc82f5161a8efef8dfc2fa672b5c09a5c

[2017-04-21 17:26] #115 closed

[2017-04-21 22:27] pranavkm opened #117 "Avoid running the precompilation tool as part of building ClassLibraryWithPrecompiledViews"
Seems cleaner not to run code as part of Universe builds. This would've avoided the issue we ran into in http://aspnetci/viewLog.html?buildId=206480&tab=buildResultsDiv&buildTypeId=UniverseCoherence

[2017-04-27 15:31] pranavkm opened #120 "[Patch][Flaky test]: StrongNamedAppTest.PrecompiledAssembliesUseSameStrongNameAsApplication(flavor: CoreClr) is flaky on Ubuntu"
[code]

Test log indicates publishing passed, but the app could not be connected to.

[2017-04-29 12:54] mrahhal opened #121 "Matching view names becomes case sensitive when precompilation is involved"
Some of my view filenames are lower cased. When precompilation is enabled and I try running the published output, finding the view fails with an error:

[code]

I confirmed by changing the view filenames to what it expects (normal pascal casing) and it started working again.

Problem also occurs when a folder inside "Areas" is cased differently than the `AreaAttribute`'s name.

[2017-04-29 12:57] mrahhal commented on #107
I believe this issue is related to #121.

@macgyver76 if the name inside your `AreaAttribute` is lowercased and the folder itself is uppercased then that's probably what's causing the error.

[2017-04-30 17:14] pranavkm commented on #121
Dup of #37. Mvc does case sensitive lookups by default. However if the underlying file system (e.g. the physical file system on Windows) happens to be case-insensitive, you get case insensitive lookups.

[2017-04-30 17:14] #121 closed

[2017-04-30 18:38] pranavkm commented on #107
@puddlewitt - we first lookup for precompiled views. If that fails, we fallback to doing runtime compilation (since your application could have a mix of runtime-compiled and precompiled views). In your case, EditorTemplate file names have to match the actual type names (for instance, the file has to be named `DateTime.cshtml`) for the precompiled look up to succeed.

Well you're paying the cost of

[2017-05-02 07:57] shimingsg opened #122 "can’t use MVC Razor compilation during cross-publish"
publishing a 'linux' app on a windows machine failed:
1.	Install https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.exe on clean machine(Windows 10)
2.	dotnet new mvc
3.	Add <RuntimeIdentifier>linux-x64</RuntimeIdentifier> to the first PropertyGroup
4.	dotnet restore & dotnet build
5.	dotnet publish -c Release, failed at this step, the error message as below:
C:\sg

[2017-05-02 14:23] pranavkm commented on #122
Dup of https://github.com/aspnet/MvcPrecompilation/issues/103

[2017-05-02 14:23] #122 closed

[2017-05-02 19:05] Vasimovic commented on #37
Any chance making this optional? This is a real pain for large projects when refactoring folders or view names.

[2017-05-02 23:45] Eilon commented on #37
@Vasimovic I think that is unlikely given that on many systems it's a hard requirement that there's no control over. I totally get that it can be annoying to deal with, but I think after all the issues in the app are fixed, they won't resurface.

[2017-05-02 23:49] Vasimovic commented on #37
@Eilon I understand, would be nice to get errors or warnings during development though, since it works fine during development and then suddenly file not found error when published

[2017-05-03 00:04] Eilon commented on #37
Ah, I agree it would be nice to possibly detect that. However, I'm not sure quite what it would look for... I don't know how reliable it would be for the disk-based view lookup to see that the case "changed."

For example, someone asked for "c:\apps\MyCoolApp\VIEWs\HOme\indEX.CShtml", which on Windows would succeed if it used `controller=Home, action=Index`, but then with pre-compiled views would

[2017-05-03 00:43] Vasimovic commented on #37
I am not sure, could the precompiler somehow check any functions that expect a view (e.g. View, PartialView, Html.PartialAsync, etc.) and give a warning?

I realize this is much more complicated since you can pass string variables with the view path, and assign them during runtime

Maybe, at runtime during **debugging** throw an error if the view name case-sensitivity does not match path/view on d

[2017-05-03 00:47] ctolkien commented on #37
No idea on the specifics, but I'd just prefer consistency. Is there a way to force when development is in Windows to also be case sensitive?

[2017-05-03 01:19] pranavkm commented on #37
@ctolkien - We had a discussion about enforcing case sensitivity on Windows in another work item (https://github.com/aspnet/MvcPrecompilation/issues/42). The SO answer for it don't look particularly pretty - http://stackoverflow.com/a/32995942

[2017-05-03 01:41] Vasimovic commented on #37
It's is a hard thing to solve, my biggest issue is the precompiled views;  the view files are not distributed, and you get a file not found when there is actually no physical file in the first place

Yes, I could search for every view path and file name and double check that I have typed everything correctly, however, this does not give me confidence that my development build will behave the same

[2017-05-04 04:49] Eilon commented on #37
Re-opening for consideration.

[2017-05-06 07:03] rynowak opened #123 "View Compilation not working when using --manifest"
Repro steps:

clone aspnet/JitBench
git checkout rel/2.0.0-preview1
`$env:MvcRazorCompileOnPublish="true"`
`.\appveyor.ps1`

I get an error like this:
[code]

[2017-05-06 07:13] rynowak commented on #123
So the issue here is that having `DOTNET_SHARED_STORE` to a package store is causing this. I'm not sure if this means that users won't hit this. It needs more investigation from someone familar with this.

[2017-05-06 09:07] mrahhal opened #124 "Is there a way to minify precompiled cshtml files?"
Is there some way we can minify those files before being served? A runtime step or a build step?

[2017-05-06 16:48] pranavkm commented on #124
Precompilation does the same things as runtime compilation. Since we don't intend on adding runtime support for minification - https://github.com/aspnet/Mvc/issues/3409#issuecomment-269388566 - it's unlikely we'll add support for it during build time compilation.

[2017-05-06 16:48] #124 closed

[2017-05-09 03:15] johnwc opened #125 "When publishing from VS2017 it uses the project file name instead of assembly name."
As you can see below, it is using the file name of the csproj instead of the assembly name. You can see the error says `Could not load file or assembly 'My Web Portal, ...` If I rename the project name to the same name as the assembly, it works. The name I have for the assembly under the properties for the project is `My.Web.Portal`

[code]

[2017-05-09 16:48] pranavkm commented on #125
The issue was fixed as part of https://github.com/aspnet/MvcPrecompilation/pull/82. @Eilon should we backport the fix to 1.1.x?

[2017-05-09 19:47] johnwc commented on #125
That issue looks to be related to the name of the output, not the referenced input. Am I reading that wrong?

[2017-05-09 19:50] pranavkm commented on #125
@johnwc - the tool was incorrectly using `$(MSBuildProjectName).dll` instead of `$(AssemblyName)` when passing in arguments to the view compilation tool.

[2017-05-09 19:52] johnwc commented on #125
The diff in that closed issue only showed a output property being updated. Was the input also updated?

[2017-05-10 08:34] macgyver76 commented on #107
@mrahhal There is no `AreaAttribute` in the project hovewer `LowercaseUrls` is enabled.

[code]

When I change folder name of the area to lowercase precompilation works fine. Otherwise I've got this in log file (you can replace `stock` with any area name, `LanguageViewLocationExpander` enabled):

/Areas/stock/Views/Assortment/Index.en-US.en-US.cshtml
/Areas/stock/Views/Assortment/Index.en.en-US.cs

[2017-05-10 15:58] pranavkm commented on #107
@macgyver76 - here's what I gather from your description

* Your area is named `Stock` (with a upper case "S")
* The folder hierarchy is `Areas/Stock/Views` (with a upper case "S")

With view precompilation enabled, the lookup fails until you change the area name to `stock` with a lower case "S". Does that sound right?

[2017-05-11 05:01] macgyver76 commented on #107
@pranavkm - Yup.

[2017-05-11 23:47] Eilon commented on #125
@ajaybhargavb can you take a look?

[2017-05-12 00:09] ajaybhargavb commented on #125
@johnwc, [here](https://github.com/aspnet/MvcPrecompilation/pull/82/files#diff-de06dd599c04ef47f24c51b91a65819fR24). We changed the `ExecArgs` property to use the assembly name. Are you seeing this issue even after upgrading to 2.0.0-preview1?

[2017-05-12 23:09] GuardRex commented on #73
No longer a valid issue, since small footprint apps are not a supported scenario for 2.0+ (and only barely supported <2.0).

[2017-05-12 23:09] #73 closed

[2017-05-13 09:28] dasMulli commented on #72
Another side effect of this is that cross-compiling between Mac/linux(x64/arm)/win is broken:

[code]

[2017-05-16 08:58] i4Contractor opened #127 "A single view is not being precompiled."
Error: InvalidOperationException: The view 'GoLive' was not found. The following locations were searched: /Views/Site/GoLive.cshtml
What I believe is happening: For some reason. A single view in a folder of other views is being left out.
What I need to know to test it: Is there some way to see what views are inside of the precompiled dll.

[2017-05-16 09:11] i4Contractor commented on #127
I guess I anwsered my own question about the ability to see the views inside. I just opened the dll with visual studio and it opened with the object browser. So the problem is that the view is here, but can't be found.
![image](https://cloud.githubusercontent.com/assets/20428433/26098524/4350d3fe-39e5-11e7-9d5d-d7735a2a48f0.png)

[2017-05-16 15:00] rynowak commented on #127
Can I see the code that's *calling* the view. One of the surprising things about precompilation is that it makes view lookup case-sensitive (yes, even on Windows)

[2017-05-16 15:02] i4Contractor commented on #127
![image](https://cloud.githubusercontent.com/assets/20428433/26112923/63f7bd6c-3a16-11e7-855d-e9f6f80bbf2e.png)

[2017-05-16 15:10] rynowak commented on #127
Yep. There's a casing difference.

`/Views/Site/Golive` (lowercase l)` vs `GoLive` (uppercase L)

[2017-05-16 15:17] i4Contractor commented on #127
@rynowak - This seams weird that it works in development, but then breaks when I publish. One might think that is an inconsistency seeing that the windows file system itself is case insensitive.

Is this a bug where case sensitivity has been enabled here, or was that by design. I think consistency is a really important issue. Either it works in development and works in production, or it breaks in

[2017-05-16 15:25] rynowak commented on #127
I agree that this is not ideal. We've been tracking the case-sensitivity issue here: https://github.com/aspnet/MvcPrecompilation/issues/37

[2017-05-16 15:29] i4Contractor commented on #127
As this is a duplicate issue, I am closing it.

[2017-05-16 15:29] #127 closed

[2017-05-18 21:28] Eilon opened #128 "Make the tool here work with apps that target .NET Framework 4.6.1"
Just like Scaffolding and EF tools already do, we need to make sure that the Razor/MVC view compilation tool works with .NET Framework 4.6.1 apps.

cc @pranavkm @DamianEdwards @davidfowl

[2017-05-19 09:31] mwijnands commented on #125
Backporting the fix to 1.1.x would be nice. Can't use precompilation if my assembly name is different from my project name.

[2017-05-19 22:49] NTaylorMullen commented on #128
@bricelam @prafullbhosale What's needed to make a tool work on 4.6.1?

[2017-05-20 02:57] bricelam commented on #128
Here's what we do on EF Core:

`dotnet-ef` uses MSBuild to see what the project targets (platform and framework) then launches either:
* `ef.exe` for net461 on x86 or AnyCPU
* `ef.x86.exe` for net461 on x86
* `dotnet exec --depsfile app.deps.json ef.dll` for netcoreapp2.0

`ef` loads the project assembly using `Assembly.Load` and does its thing.

We shove everything into one package:
* lib/
  * ne

[2017-05-22 22:53] NTaylorMullen commented on #128
@bricelam thanks for the info! Right now this is blocked on the netcoreapp2.0 => netstandard2.0 train. Will re-visit once MVC has been migrated over.

[2017-05-22 23:51] DamianEdwards commented on #128
This seems very similar to how this tool worked on 1.x. Would we not just bring back the same assets and approach?

[2017-05-22 23:57] NTaylorMullen commented on #128
@DamianEdwards yup, that's exactly what we're doing. I asked for extra information in-case there were additional changes needed.

As for being able to complete the porting of the 1.0 approach, I have the tool in a state that's is a good starting point; however, it can't even restore because it depends on MVC and its chain of dependencies.

[2017-05-31 05:41] #128 closed

[2017-05-31 05:41] NTaylorMullen commented on #128
6e88ea942952e562ba16899ac38b7d067b208af4

[2017-06-01 12:54] grzegorz-ogrodowski commented on #102
Any news in this topic?
I have similar problem.

[2017-06-01 14:51] pranavkm commented on #102
Sorry, not as yet. We need to rethink some of the design for how the tool works and haven't had a chance to set up a meeting with the relevant folks as yet. We'll have this triaged for our next milestone - preview3.

[2017-06-01 17:38] NTaylorMullen opened #132 "Fix SimpleAppDesktopOnly."
Unblocked cross-plat builds with [this](https://github.com/aspnet/MvcPrecompilation/commit/bde6a8f20fd9ea79b7e89f9e4bd775f404c6c995) commit. Not entirely sure why it unblocks those builds though. My bet is that once we re-enable desktop tests that it doesn't actually work at runtime.

@pranavkm any ideas why this worked?

[2017-06-01 17:40] pranavkm commented on #132
Not super sure why this commit works. We conditionally import targets (https://github.com/aspnet/MvcPrecompilation/blob/dev/build/common-testapps.props#L11), so the tfm wouldn't have been defined by the time the import is evaluated.

[2017-06-02 18:12] ajaybhargavb opened #133 "Back port using AssemblyName instead of MSBuildProjectName fix to 1.1-* release"
From https://github.com/aspnet/MvcPrecompilation/issues/125.
We fixed this issue in https://github.com/aspnet/MvcPrecompilation/pull/82 for 2.0.0-preview1. We should consider back porting it to 1.1. release.

cc @Eilon @pranavkm

[2017-06-02 18:12] ajaybhargavb commented on #125
Filed a new issue for this https://github.com/aspnet/MvcPrecompilation/issues/133.

[2017-06-02 18:12] #125 closed

[2017-06-05 19:41] NTaylorMullen opened #134 "Bring back RID-specific tests, e.g. by re-enabling the net461 win7-x86 functional test"
With the new MvcPrecompilation testing infrastructure we have project references to our src packages. The problem with this approach is when you have an x86 test application doing the following:
[code]

It ends up copying over the x64 src bits into the x86 directory. This of course results in a bad format exception when attempting to pre-compile a test app. @pranavkm said he'd take a look at fixin

[2017-06-06 19:26] Eilon commented on #102
⬆️🏈⬆️  Moving to 2.1.0 because in 2.0.0 w/ runtime stores the size of apps is a lot smaller anyway.

The fix is for the precompilation task to build the user's app and run it w/o the specified RID so that the code can run properly on the local machine.

[2017-06-06 19:35] Eilon commented on #93
@pranavkm please close.

[2017-06-06 19:41] Eilon commented on #37
Let's make pre-compiled views have a case-insensitive lookup by normalizing the precompiled view names (e.g. ToLowerInvariant). We need to show an error if there are ambiguities (e.g. `edit` and `EDIT`) and disallow that at build time.

---

Here was the original idea that we had, but that we can't do. Sad.

1. We'll change to always being case-sensitive (by default), even running locally, even on

[2017-06-06 19:43] #93 closed

[2017-06-07 15:51] pranavkm commented on #37
@DamianEdwards \ @rynowak  - do we want a flag that causes us to look up precompiled views in a case sensitive way? I'm not sure it adds a whole lot of value. Also @Eilon says we could always add it in the future if there's a demand for it.

[2017-06-07 16:17] Eilon commented on #37
Per the meeting we had, I'm generally a fan of fewer options, but that we can add them later if needed.

[2017-06-07 19:15] rynowak commented on #37
I agree with this guy.

[2017-06-07 22:23] pranavkm commented on #37
Fixed in https://github.com/aspnet/Mvc/commit/1124eb50167f245ca486dbcba2df208ed27a106e

[2017-06-07 22:23] #37 closed

[2017-06-07 22:38] pranavkm opened #136 "[Discussion]: Razor view engine performs case insensitive lookup for precompiled views"
Discussion for https://github.com/aspnet/Announcements/issues/251

As part of addressing the issue in https://github.com/aspnet/MvcPrecompilation/issues/37, we have made lookups for precompiled views case insensitive all the time.

* With this change, a precompiled lookup for a file at the path `/Views/Home/index.cshtml` (note the case) would succeed for `controller=Home, `Action= Index`.
* Runtim

[2017-06-07 22:40] pranavkm commented on #37
Use https://github.com/aspnet/MvcPrecompilation/issues/136 for further discussion on this issue.

[2017-06-09 22:20] Eilon commented on #71
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:20] #71 closed

[2017-06-12 14:21] davidglassborow opened #141 "Question: are MVC view compiles deterministic ?"
Roslyn can do deterministic builds (https://github.com/dotnet/roslyn/issues/372), and I've recently added this to Visual F# (https://github.com/Microsoft/visualfsharp/pull/2954).

At my workplace, this means that the MVC view compilation is the only step left in our build processes that isn't deterministic. I was wondering if the new aspnetcore view compilation will be deterministic ?, or if that

[2017-06-12 19:22] rynowak commented on #141
No, they are not
1. We don't pass `deterministic = true` to the `CSharpCompilerOptions` - this is easy to fix
2. Each tag helper usage gets a unique identifier assigned to it, right now this isn't deterministic

[2017-06-13 07:24] davidglassborow commented on #141
Is this something you would be happy to add ?  If so I'll have a look at a PR to do so (probably post core 2.0 release)

[2017-06-13 19:42] NTaylorMullen opened #142 "dotnet new mvc => publish -f netcoreapp2.0 => run fails with MvcPrecompilation error."
This looks to be due to how the default templates utilize the ViewCompilation package. This does work for desktop framework however.

[2017-06-13 19:53] NTaylorMullen commented on #142
/cc @muratg @Eilon

[2017-06-13 21:43] NTaylorMullen commented on #142
Issue here is how the precompilation package is structured and the relation to the cli package store. Working on a fix and assuming this is preview2 (will send emails).

[2017-06-13 22:30] NTaylorMullen opened #143 "Move the netcoreapp2.0 runtime library into the build folder"
This way a users application can't actually call into ViewCompilation code.

@Eilon this should be done for RTM

[2017-06-13 22:42] pranavkm commented on #143
Might have to check this one - if you have a `lib\net451`, but no `lib\netcoreapp2.0`, you might not be able to install the package in a netcoreapp targeting project. That said, there's no API exposed by the assembly and it's not meant to be deployed `PrivateAssets="true"`, so there's not a lot of risk of application code calling in to it.

[2017-06-14 00:00] rynowak commented on #141
If it adds value for you, and you want to send us a PR then sure we'd be happy to take it for 2.1. We already have the capability to replace the 'id generator' for tests, we'd just have to figure out a way to generate stable ids.

[2017-06-14 16:56] NTaylorMullen commented on #142
4b1f5f24dad3e128764ab836b3d4f6ef2984a747

[2017-06-14 16:56] #142 closed

[2017-06-14 22:07] Eilon commented on #87
@ajaybhargavb / @pranavkm - @danroth27 just tried publishing a new default Web API project with 2.0 and didn't see any error/warning/anything. Was this maybe fixed by some other change in recent history?

[2017-06-14 23:54] pranavkm commented on #87
Wouldn't we want to print a warning though (at least that's what I assumed we wanted to do here)

[2017-06-15 00:19] Eilon commented on #87
When @danroth27 and I were talking, we were wondering if the correct behavior is to be silent. What exactly would we be warning the user about? What would they "fix" to avoid this?

Imagine a pure Web API project, which of course has no views, but also has view pre-compilation enabled (because it's enabled by the SDK by default). It doesn't make sense to have a warning in that case, does it?

[2017-06-15 00:20] Eilon commented on #143
With the new PTF vs. ATF thing I don't know what the behavior would be.

[2017-06-15 00:25] NTaylorMullen commented on #143
What's PTF vs. ATF?

[2017-06-15 00:32] Eilon commented on #143
PackageTargetFallback vs. AssetTargetFallback.

[2017-06-15 00:36] Eilon commented on #143
Details here: https://github.com/NuGet/Home/wiki/Enable-.NET-Core-2.0-projects-to-work-with-.NET-Framework-4.6.1-compatible-packages

[2017-06-15 00:36] Eilon commented on #143
Not saying it's necessarily related, but it might be relevant.

[2017-06-15 00:38] pranavkm commented on #87
I guess that makes sense. Perhaps it's best to get some more feedback to see if it's something people keep running in to and decide accordingly (maybe an MSBuild info log or something along those lines).

[2017-06-15 00:40] Eilon commented on #87
So are we good to close this for now? No warnings/errors are ever shown?

[2017-06-15 05:57] guylando commented on #87
The problem in my case might have been that the sdk of the views project was Microsoft.Net instead of Microsoft.Net.Web.
It also caused the visual studio razor intellisense to not work in the views. Had no warning or anything so discovered it by luck. I encounter too many times such cases where I search the problem with procmon myself because of no warnings and no online info. For example visual s

[2017-06-15 19:13] bdovaz commented on #133
Yes, please.

[2017-06-15 22:00] natemcmaster commented on #143
Btw, same is true of the .NET Framework assembly. These are currently packed into `runtimes/win-{x64, x86}/lib/`, which means NuGet treats this as available assemblies. Would be better to put all these console tools in a non-asset folder. Our other tooling packages put these into `tools/` or `toolsassets/` to ensure NuGet ignores them.

[2017-06-15 22:03] NTaylorMullen commented on #143
Today we do this because we rely on the CI to auto-generate binding redirect files for those guys. We could manually create binding redirects that would work with most apps to move those bits around.

[2017-06-15 22:31] natemcmaster commented on #143
The binding redirects can't be packed. You have to generate those based on the dependencies of the project.

FWIW - it's more complicated, but you could "borrow" the binding redirects generated for the app, or use AppDomains to better manage assembly resolution.

[2017-06-16 16:01] Eilon commented on #87
@pranavkm - can you confirm that's what you're seeing on the latest `dev` bits?

[2017-06-19 16:06] Eilon commented on #141
This issue was moved to aspnet/Razor#1446

[2017-06-19 16:06] #141 closed

[2017-06-19 16:23] Eilon commented on #120
We'll have to live without this in the patch.

[2017-06-19 16:23] #120 closed

[2017-06-19 16:34] Eilon commented on #143
We need to talk to @DamianEdwards about some aspects of this because it seems like we're having to work around too many sharp edges in the system.

[2017-06-19 16:35] Eilon commented on #112
This should all be working in Preview2, which is about to release.

[2017-06-19 16:35] #112 closed

[2017-06-19 16:36] Eilon commented on #107
@pranavkm can you verify if this is already fixed by the other casing fix you did?

[2017-06-19 16:39] Eilon commented on #103
We'll use https://github.com/aspnet/MvcPrecompilation/issues/102 to track the fix for this.

[2017-06-19 16:39] #103 closed

[2017-06-19 16:40] Eilon commented on #100
We're not currently planning on fixing this, but we're open to contributions for this.

[2017-06-19 16:43] Eilon commented on #94
Given that the .All metapackage references everything already, I don't think this is needed.

cc @DamianEdwards FYI.

[2017-06-19 16:43] #94 closed

[2017-06-19 17:59] natemcmaster opened #146 "App expects ViewCompilation assembly after publish, but it is not present in the runtime store (2.0.0-preview2-final)"
Using dotnet CLI 2.0.0-preview2-006484

**Repro**
Install latest .NET Core CLI: https://github.com/dotnet/cli/tree/release/2.0.0-preview2#installers-and-binaries

[code]

**Result**
[code]

cc @NTaylorMullen @Eilon @muratg @JunTaoLuo

[2017-06-19 18:34] mikeharder commented on #50
Should this be considered for preview2?  Does this bug mean the CLI zip installer cannot be used with MVC apps?  If so, this seems like a major issue.

[2017-06-19 19:04] #117 closed

[2017-06-19 19:27] #98 closed

[2017-06-19 21:21] pranavkm commented on #143
Binaries moved. @Eilon do you want me to keep the work item open so we can follow up with @DamianEdwards?

[2017-06-19 22:07] mikeharder commented on #50
Or add the issue and workaround to a readme or similar docs for Preview2.

[2017-06-19 22:27] pranavkm commented on #50
@mikeharder we've had this issue since the 1.0.0 of the tool, so I'm not entirely sure it would warrant requiring a preview2 fix. The msbuild task assumes `dotnet.exe` is in the path, and the workaround has been to either add it to the path or specify it via an MSBuild property `MvcRazorRunCommand`.

[2017-06-20 01:39] JunTaoLuo commented on #146
We have resolved this with https://github.com/aspnet/MetaPackages/pull/167. @NTaylorMullen is there a bug tracking the removal of the package from the store in the next release?

[2017-06-20 01:39] bzhu94 opened #151 "NetCoreApp2.0 Web App with win7-x86 RuntimeIdentifier fails on publish"
When I publish a NetCoreApp2.0 Web App (with Individual Authentication) with a win7-x64 RuntimeIdentifier, publish succeeds. However, when I change the RuntimeIdentifier to win7-x86, publish fails and gives the following error during precompilation of the Razor views:

[code]

This happens even when the x86 CLI is installed. This is due to the fact that the ```_RunForCore``` target in ```Microsoft

[2017-06-20 03:45] NTaylorMullen commented on #146
https://github.com/aspnet/MvcPrecompilation/issues/143 is the one that will indirectly remove it from the store. Is there additional things that need to be done to ensure it gets rmeoved?

[2017-06-20 15:14] pranavkm commented on #107
Yup, looks like this was fixed as part of addressing https://github.com/aspnet/MvcPrecompilation/issues/37. @macgyver76, could you give this a try either with our nightlies (`https://dotnet.myget.org/gallery/aspnetcore-release`) or wait a few days for preview2 to be released to verify this? Feel free to reopen if you're still running in to this issue.

[2017-06-20 15:14] #107 closed

[2017-06-20 17:26] pranavkm commented on #123
I can't actually run the script - R2R-gening hangs after a while. I'm going to close this for now. We can re-open if this you continue seeing the error in the repo once you get it to work.

[2017-06-20 17:26] #123 closed

[2017-06-20 17:39] pranavkm commented on #151
This is a variant of the issue described in https://github.com/aspnet/MvcPrecompilation/issues/102.

Publishing for a rid other than the one in the current dotnet is currently broken. Here's a potential workaround for the issue: https://github.com/aspnet/MvcPrecompilation/issues/102#issuecomment-287653103.

[2017-06-20 17:39] #151 closed

[2017-06-20 18:34] pranavkm commented on #50
Using MSBuild's muxer if available as part of https://github.com/aspnet/MvcPrecompilation/commit/fe4cc976b9206b218326ed5fb130a331a0c51ae8. We can look running the tool in-proc if we get further issues about this.

[2017-06-20 18:34] #50 closed

[2017-06-20 18:34] pranavkm commented on #146
@JunTaoLuo close?

[2017-06-20 18:35] muratg commented on #146
Yeah, let's verify with the latest bits (Links here: https://github.com/aspnet/Release/issues/144) and close.

[2017-06-20 18:39] pranavkm commented on #87
Verified this no longer prints an error. We produce a `<App Name>.PrecompiledViews.dll`, but it's empty. No runtime exceptions either, so this should be good to close.

[2017-06-20 18:39] #87 closed

[2017-06-20 18:42] NTaylorMullen commented on #146
Worked for me Windows Server 2016

[2017-06-20 18:47] natemcmaster commented on #146
Works in Docker Nano Server.

[2017-06-20 19:04] JunTaoLuo commented on #146
Closing since it's been verified by others as well.

[2017-06-20 19:04] #146 closed

[2017-06-21 10:14] macgyver76 commented on #107
@pranavkm I'll get you know after migrating our project to stable version of `aspnet`.

[2017-06-21 15:12] pranavkm commented on #123
Verified and this works without issues now.

[2017-06-22 01:03] pranavkm commented on #134
We have E2E coverage for this via MusicStore. See https://github.com/aspnet/MusicStore/commit/a01bee876d4573a149d78cd90bbcbb4802e1f0c4

[2017-06-22 01:03] #134 closed

[2017-06-22 01:04] #143 closed

[2017-06-27 22:37] #99 closed

[2017-06-29 18:03] NTaylorMullen commented on #132
Desktop tests are re-enabled and this seems fine.

[2017-06-29 18:03] #132 closed

[2017-06-30 22:18] pranavkm commented on #62
We have features covered by tests. Added documentation for the settings as part of #156.

[2017-06-30 22:18] #62 closed

[2017-07-01 00:12] natemcmaster opened #159 "Make Microsoft.NETCore.App privateassets=all"
Microsoft.AspNetCore.Mvc.Razor.ViewCompilation ends up with Microsoft.NETCore.App in the list of dependencies in its repo. This version can lead to version conflicts (example https://github.com/aspnet/MusicStore/pull/795#discussion_r125148560). The version of the packages doesn't actually matter as the MSBuild targets end up [hoisting the runtime to match](https://github.com/aspnet/MvcPrecompilati

[2017-07-03 16:22] #159 closed

[2017-07-05 04:33] los93sol commented on #102
Any movement on this?  I'm compiling for win10-arm to run on iOT Core Pi3 and it's pretty painful waiting for that device to compile the views at runtime

[2017-07-05 16:31] Eilon commented on #53
Closing because there are no plans to implement this. This is a fairly advanced area and we feel that having additional UI for it in VS would probably complicate things for most users.

[2017-07-05 16:31] #53 closed

[2017-07-05 16:46] pranavkm commented on #102
@los93sol - we're still wrapping up 2.0.0 stuff. The work item was moved to the 2.1.0 release. For the time being, the workaround @Daniel15 has in https://github.com/aspnet/MvcPrecompilation/issues/102#issuecomment-287653103 might alleviate some of your issues.

[2017-07-05 23:28] pranavkm opened #161 "Invoking GetDotNetHost task from desktop msbuild fails"
We use the `GetDotNetHost` task to discover the muxer path when being published from CoreCLR. However invoking this task does not work in desktop MSBuild.

[code]

[2017-07-05 23:34] pranavkm opened #162 "Running precompilation tool on an Empty Web Application fails"
Repro steps

From VS,
1. File > New Project > ASP.NET Core Web Application > Empty (.NET Core) - 2.0.
2. Publish to Folder

Publishing fails with

[code]

The deps file is missing references to `Microsoft.NETCore.App` \ `System.Runtime.dll` which causes the assembly emit to fail.

[2017-07-06 22:03] #161 closed

[2017-07-10 19:20] natemcmaster opened #168 "Publish target fails in NanoServer image"
**Repro**
[code]

**Result**

Publication fails with:

[2017-07-10 20:37] natemcmaster commented on #168
Appears to be external: https://github.com/Microsoft/msbuild/issues/2273

[2017-07-13 17:22] natemcmaster commented on #168
Verified this is fixed in MSBuild 15.3.406.

[2017-07-13 17:22] #168 closed

[2017-07-15 00:45] CXRom opened #172 "Is possible to build PrecompiledViews.dll in the main output.dll?"
I want to integrate the PrecompiledViews.dll in the same output its possible?

The scenario is multiple proyects in one solution. In this moment every partial project generate output.dll and PrecompiledViews.dll but when i add the reference project in the main its olny take the output.dll.

[2017-07-17 21:53] pranavkm commented on #172
Not out of the box. Your easiest option would be to copy the precompiled binary as post-build step. If you do manage to get the binary merged, you'd have to add a [`ViewsFeatueProvider`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Compilation/ViewsFeatureProvider.cs) that knows how to discover precompiled views from the primary assembly.

[2017-07-18 18:13] pranavkm opened #174 "Precompilation fails when more than one _ViewImports has the same `@namespace` directive"
Consider,

[code]

Both `_ViewStarts` would be generated with the same fully qualified type name. This works at runtime because the two types are in distinct assemblies but fails for precompilation because we compile them in to one assembly.

[2017-07-22 17:31] devtrix opened #181 "What is the difference between BuildAction = EmbeddedResource & MvcPrecompilation?"
Could someone kindly explain the difference please.
Raj

[2017-07-24 18:46] pranavkm commented on #181
`BuildAction=EmbeddedResource` lets you create a file provider over embedded resources. Views are compiled at runtime just as with files on disk. MvcPrecompilation lets you compile views as part of your build or publish pipeline. Consequently issues in compilation will show up as part of your build pipeline and you aren't paying the costs of runtime compilation. Additionally precompiled views is a

[2017-07-25 01:02] wilson0x4d commented on #102
how do we track this for the 2.1.0 release? i do not see a reference, all issues appear closed over all projects that i've checked.

[2017-07-25 01:05] wilson0x4d commented on #102
is precompilation required for Razor pages to work, ie. is this really a required/necessary step in the tools or can it be moved into a config/option so we don't need to double-build just to publish cross-platform?

[2017-07-25 01:26] los93sol commented on #102
It is not necessary for development but is absolutely necessary to put something into production, otherwise your site will take several minutes for the first load.  Subsequent loads are fast since the views are compiled at that point, but once your app recycles the first load will be brutally slow again.

[2017-07-26 23:43] Eilon commented on #102
@wilson0x4d precompilation is never "required," but it can indeed improve runtime performance. Though, I've never seen that without precompiling an application that it would take "several minutes" for the first load. Views are compiled on-demand, so unless the first request uses thousands of views (many layout pages, partial views, view components, etc.), it should take only a few seconds to compi

[2017-07-27 23:38] pranavkm commented on #172
Feel free to reopen this if you have further questions.

[2017-07-27 23:38] #172 closed

[2017-07-30 09:22] Cyrus-Sushiant opened #182 "Publish failed when MvcRazorCompileOnPublish is true"
after MvcRazorCompileOnPublish is true publish failed.

1>Test -> F:\Test\Test\Test\bin\Release\netcoreapp1.1\Test.dll
2>------ Publish started: Project: Test, Configuration: Release Any CPU ------
Connecting to F:\Test\Test\Test\bin\Release\PublishOutput...
C:\Program Files (x86)\Microsoft SDKs\TypeScript\2.2\tsc.exe  --noEmitOnError --listEmittedFiles --locale en-US
C:\Program Files (x86)\Micros

[2017-07-31 14:00] tanaka-takayoshi opened #183 "Razor Precompilation failed when Razor contains C# 7.1 feature"
I posted the same issue https://github.com/aspnet/Razor/issues/1591 . However, as I don't know which is a prefer repository to report I double-posted.

Version: ASP.NET Core 2.0 Preview 2 with 2017 Preview (preview) (Version 15.3.0 Preview 6.0)
NuGet Version: Microsoft.AspNetCore.All 2.0.0-preview2-final

Razor precompilation failed when Razor contains C# 7.1. Is there any way to add compile optio

[2017-08-01 00:03] pranavkm commented on #183
We'll use https://github.com/aspnet/Razor/issues/1591 to address the bug in Mvc. Closing this since it's a dup and the suggested workaround should fix this.

[2017-08-01 00:14] #183 closed

[2017-08-01 00:15] pranavkm commented on #182
@Cyrus-Sushiant is there a `Test.PrecompiledViews.dll` in the obj\Release\netcoreapp1.1 directory?

[2017-08-01 00:15] #181 closed

[2017-08-01 00:15] pranavkm commented on #181
Feel tree to reopen if you have further questions.

[2017-08-01 12:40] Cyrus-Sushiant commented on #182
@pranavkm No. VS2107 don't create `Test.PrecompiledViews.dll` and I don't know why the dll don't create.

[2017-08-01 16:51] pranavkm commented on #182
That's odd. The build log says the file was created `Razor view compilation for Test -> obj\Release\netcoreapp1.1\Test.PrecompiledViews.dll`. Are you able to share a repro application with us?

[2017-08-02 22:46] Cyrus-Sushiant commented on #182
Yes. You can get it from this link [https://github.com/Cyrus-Sushiant/Test](url)

[2017-08-04 16:19] pranavkm commented on #182
@Cyrus-Sushiant not seeing this with VS 2017 version 15.2:

[code]

Could you attach a diagnostic msbuild log? It might tell if there's some oddity around working directories and output paths that's affecting this.

[2017-08-06 23:30] shbhar commented on #133
+1

[2017-08-06 23:52] pranavkm commented on #133
@shbhar the tool targets `netstandard2.0` which works with `net462`. If you're seeing specific issues with the tool on a desktop targeting project, feel free to open a separate issue.

[2017-08-08 15:28] Cyrus-Sushiant commented on #182
You can see it from this link [https://raw.githubusercontent.com/Cyrus-Sushiant/Test/master/Test/msb.log](url)

[2017-08-08 18:56] pranavkm commented on #182
@Cyrus-Sushiant looks like the logs cuts off half way through. It doesn't get far enough to include any of the publish outputs.

[2017-08-14 21:26] martincostello opened #185 "Build fails when MvcRazorCompileOnPublish is true"
I have updated an existing ASP.NET Core MVC application from `1.1.2` to `2.0.0`, and everything has worked fine with the upgrade except that the build fails is view pre-compilation is enabled.

Disabling it by setting the `MvcRazorCompileOnPublish` MSBuild property to `false` fixes the build, which has been observed to fail in Visual Studio 2017 15.3, and via `dotnet build` on [Windows](https://ci

[2017-08-14 21:59] guardrex opened #186 "Precompiled views failing for SCD deployment under 2.0 RTM"
I see there are a few issues recently (possibly) pertaining to 2.0. Here's a potentially new issue: I have a test app that produces precompiled views when published as an FDD deployment ...

![capture](https://user-images.githubusercontent.com/1622880/29293570-2896b13c-8111-11e7-89e6-f484bf311b8c.PNG)

... but it fails to produce a precompiled views DLL when published as an SCD deployment. Is ther

[2017-08-14 22:27] pranavkm commented on #186
@guardrex SCD (first I encountered this abbreviation 👍) runs in to the sort of issue as https://github.com/aspnet/MvcPrecompilation/issues/102. The issue is slated to be fixed for 2.1.0 and for the time being, we no-op precompilation when the application is published using a RID. For the time being, we recommend using the workaround listed in the issue:

[code]

[2017-08-14 22:28] guardrex commented on #186
Thank u @pranavkm!

[2017-08-14 22:55] pranavkm commented on #185
@martincostello the line `<Target Name="AddGeneratedContentItems" BeforeTargets="AssignTargetPaths" DependsOnTargets="PrepareForPublish">` in your csproj moves the publish step to a target that runs before `Compile`. Removing the `DependsOnTargets` fixed the issue although I'm not entirely sure what the significance of invoking the target that early is. If you'd like to preserve the current pipeli

[2017-08-15 09:35] martincostello commented on #185
@pranavkm Thanks - removing `DependsOnTargets` fixed it. This target is there to work around the `1.x.x` SDK not copying all files into the published directory, which was in a GitHub comment somewhere in a GitHub issue as a workaround and I'd just copied verbatim.

[2017-08-15 09:35] #185 closed

[2017-08-16 10:45] svallis opened #187 "Precompiled views in project and library in 2.0.0"
I'm upgrading a project and a library with embedded views to .NET Core 2.0.0 and seem to have lost precompilation. I've simplified the csproj files down to their bare bones, and the docs suggest that I should gain precompilation out of the box:

My first publish after the upgrade has removed the live Project.PrecompiledViews.dll and uploaded all the cshtml files that weren't present on 1.1.1. I've

[2017-08-16 17:49] pranavkm commented on #187
The test apps in the repo aren't very good representations of what a real app should look like. I wouldn't recommend using it as a reference. When you publish your primary application (or your class library), do you see a `ProjectName.PrecompiledViews.dll` in the publish output directory? Running publish on your main application would not run publish or copy the precompiled binary from the class l

[2017-08-17 12:39] svallis commented on #187
@pranavkm There are no `PrecompiledViews.dll` files in the publish output for the main application. The first push to Azure after converting to 2.0.0 removed the old `PrecompiledViews.dll` due to the use of the "Remove additional files at destination" publish option.

This application and the library all began as 1.0.0 projects and have migrated through 1.1.x to 2.0.0 and from `project.json` to `.

[2017-08-17 13:39] joergpichler commented on #187
I am having the exact same issue on my machine. With Preview2 everything worked fine but after updating to 2.0 final I don't get any precompiled views, even when I create a new MVC project.

[2017-08-17 16:39] pranavkm commented on #187
Does your csproj have a `RuntimeIdentifier` property or are you publishing with `rid` i.e. is it a self contained application? As a stop gap fix for https://github.com/aspnet/MvcPrecompilation/issues/102 (which is basically any application with a RID), we disable precompilation as part of 2.0.0. In the meantime, https://github.com/aspnet/MvcPrecompilation/issues/102#issuecomment-287653103 suggests

[2017-08-17 17:34] #182 closed

[2017-08-17 17:34] Eilon commented on #182
Closing because there is not enough information to reproduce this problem.

[2017-08-17 17:39] svallis commented on #187
@pranavkm No `RuntimeIdentifier` in the `.csproj` (the two `.csproj` files I included in the first post are in full, only the names have been changed). I'm publishing with simply `dotnet publish -c Release -o Publish`.  I'm not doing any cross compilation or anything. Simple web application and class library with the `.csproj` files as above, and deploying to Azure.

I just made a new MVC web appl

[2017-08-17 17:47] pranavkm commented on #187
@svallis that's pretty strange. I was able to generate precompiled views using the templates you had. Would you mind running publish from the cmdline with diagnostic msbuild log and uploading it? `dotnet publish /fl /flp:v=Diag` or `dotnet publish /bl`. It should tell what's preventing the target from executing.

[2017-08-17 17:57] svallis commented on #187
@pakrym I have a 108MB log file here. Is there a specific part I can share rather than uploading the whole thing? What's the name of the target we're interested in?

[2017-08-17 18:00] pranavkm commented on #187
`MvcRazorPrecompile` and `_MvcRazorPrecompileOnPublish` are the targets of interest here.

[2017-08-17 18:00] svallis commented on #187
Neither string is present in the log file.

[2017-08-17 18:16] svallis commented on #187
I found a reference to `<PublishFramework>netcoreapp1.1</PublishFramework>` in my `.pubxml` file, but updating it to `netcoreapp2.0` makes no difference. I don't think the `.pubxml` is even part of command line publishing if I understand correctly, but I'm at a bit of a loss here.

[2017-08-17 18:18] pranavkm commented on #187
Does your application reference `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation` transitively? If you look at `obj/project.assets.json` it should include a reference to the package. Additionally the `{AppName}.csproj.nuget.g.targets` should include a reference to `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.targets`.  Here's a reference to what you should be seeing:

[code]

[2017-08-17 18:22] svallis commented on #187
To your first question, yes the `obj/project.assets.json` file contains a reference: `"Microsoft.AspNetCore.Mvc.Razor.ViewCompilation": "2.0.0"`.

To your second question, no the `csproj.nuget.g.targets` contains no reference to `ViewCompilation`.

[2017-08-17 18:27] svallis commented on #187
The `{AppName}.csproj.nuget.g.targets` in full:

[code]

[2017-08-17 18:59] pranavkm commented on #187
Can you try explicitly referencing the precompilation package? Given that your precompilation runs fine on a different app, it's unlikely the package is corrupted. Maybe it's some sort of issue with restore that you're running in to.

[2017-08-17 19:14] svallis commented on #187
First, the good news. Explicitly referencing the package worked.... the next publish to Azure removed all the `.cshtml` files and uploaded the `PrecompiledViews.dll`.

Now, the bad news is most of the pages of the web application are throwing the following `System.InvalidOperationException`:

`Cannot find compilation library location for package 'Microsoft.Win32.Registry'`

Removing the package re

[2017-08-17 19:23] pranavkm commented on #187
That error typically shows up when Mvc is trying to runtime compile a view at runtime. This likely indicates that Mvc did not discover a precompiled view for a specific path and there are cshtml files in the publish output that it's attempting to compile. Do you perchance have embedded views or just views on disk that that might be runtime compiled? If so, you'd need to set `<MvcRazorExcludeRefAss

[2017-08-17 19:29] svallis commented on #187
There are views embedded in the `Library`, so I assume it's because of them? I'd like the `Library.PrecompiledViews.dll` to also be published so that everything is precompiled, which I assume would also prevent this error? The ultimate goal should be to have no `.cshtml` files on the server, and no runtime compilation in production environments.

[2017-08-17 19:31] pranavkm commented on #187
See my earlier comment about how to generate a precompiled dll from your "class library":

Once you have the precompiled classlib.dll, you can stop embedding the views in there.

[2017-08-17 19:43] svallis commented on #187
What is required to get the class library to output the `.cshtml` files as a library? I'm not seeing a `precompiled` folder within `obj` for my library.

You mentioned that the testapps have a bunch of other stuff going on as well, so would be good to get a definitive answer on what is minimally required to be added to the original `Project,csproj` and `Library.csproj` that I posted in the opening

[2017-08-17 21:05] pranavkm commented on #187
Here's a working sample without the shenanigans from the test application: https://github.com/pranavkm/precompilation-classlib/blob/master/app1/app1.csproj

[2017-08-17 21:19] svallis commented on #187
@pranavkm I'm getting the same error doing a clean clone of your test repo and trying to publish the app as I am on my main web application. The following is straight after `git clone`:

[code]

There is no `lib1.PrecompiledViews.dll` in the publish output, but there is an `app1.PrecompiledViews.dll`.

[2017-08-17 23:21] pranavkm commented on #187
@svallis I must've had extra files around from when I was building it which caused it to work locally. The ClassLibrary has to be a runnable application for precompilation to work: https://github.com/pranavkm/precompilation-classlib/commit/38b48769b625e878d85592435f2a0faac911292c.

[2017-08-18 00:13] svallis commented on #187
Your repo now clones and builds correctly, looks spot on.

Getting it working with the main project is proving problematic though. I've triple checked everything and can't see what's wrong with my setup. I've pared things down to just what you have in your test repo, but there is still some weirdness requiring me to manually specify `<PackageReference Include="Microsoft.AspNetCore.Mvc.Razor.ViewCo

[2017-08-18 00:16] pranavkm commented on #187
Can you include what the `--output-path` option in your `Library\obj\Release\netcoreapp2.0\microsoft.aspnetcore.mvc.razor.viewcompilation.rsp` looks like? Might be some oddity with the path passed to it.

[2017-08-18 00:20] svallis commented on #187
You got it, looks like absolute paths aren't supported there.

[code]

[2017-08-18 00:24] pranavkm commented on #187
Ahh, you'd have to tweak `MvcRazorOutputPath` to resolve the directory rather than concatenating it from the project directory. It works with relative paths, not so much from regular paths:
https://github.com/pranavkm/precompilation-classlib/commit/7d5cf7e0f5d91035cd0042c37c6b4e7ccaac7294#diff-efdb7a7d1306ffecb63ecb38a39eb159R20

[2017-08-18 00:39] svallis commented on #187
I switched to relative paths, solved the error above. Visual Studio however seems to use absolute paths as well, so using your fix above got things rolling in VS again.

Current status is that both `dotnet publish -c Release -o` and publishing from within VS makes a `Library.PrecompiledViews` but no `Project.PrecompiledViews`. It also copies all the libraries `.cshtml` files into the output folder

[2017-08-18 10:02] svallis commented on #187
I figured the easiest way to get to the bottom of this is to work publicly on a fork of your test application. I've removed most of the web application stuff from `lib1` to make it more libraryish, and got it to the point where things work in development.

https://github.com/svallis/precompilation-classlib/commits/master

Running this with CTRL+F5 in VS gives the following output in the footer:

[

[2017-08-18 22:29] pranavkm commented on #187
Removing the `AddApplicationPart(lib1)` should fix the issue. Mvc doesn't de-duplicate assembly part registrations which explains why the view was discovered multiple times: once via the project-to-project reference and once via the explicitly registered value. I'll file a bug to track in Mvc to track if we can make the experience here better.

[2017-08-19 02:28] ElanHasson opened #188 "--debug flag is required to be first argument in tooling"
https://github.com/aspnet/MvcPrecompilation/blob/a62c8484cb1785488b6ac235ddb37da46d6427a9/src/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation/Internal/DebugHelper.cs#L15-L17

[2017-08-19 10:46] svallis commented on #187
@pranavkm Ah I see, that makes a lot of sense. The `AddApplicationPart(lib1)` stuff has been in my project since the `project.json` days.

I've updated the test repo and things are looking good:

[code]

I've also added some quick test code to make sure using an embedded `EditorTemplate` still functions correctly, and that does seem to be the case both in development and post-publish.

The only on

[2017-08-19 17:08] davidfowl commented on #187
Did you mean ASP.NET Core and not .NET Core?

[2017-08-19 17:12] svallis commented on #187
Yeah exactly; if the library gets bumped to say 2.0.x, I *think* it would be nice for the project to naturally follow it (if you don't specify something more specific in the `Project.csproj`).

[2017-08-19 17:53] pebezo opened #189 "Render view to string with precompilation"
Hi,

I'm using this sample to render a view to a string:

https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.RenderViewToString/RazorViewToStringRenderer.cs

This works fine in development (running it via VS), but if I publish the project and run it under IIS it complains that it cannot find the view. In this scenario, the published folder does not contain the cshtml files, but it does have Pr

[2017-08-20 12:36] IsaacSee opened #190 "Publish fails with MvcPrecompilation"
Hello,

On a website targeting framework `net461` with runtime `win10-x64` using `2.0.0` aspnetcore dependencies the publication fails when we activate MvcPrecompilation.

Publish command : `dotnet publish {PROJECT_PATH} --configuration release -r win10-x64`

Error :
`C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.aspnetcore.mvc.razor.viewcompilation\2.0.0\build\netstandard2.0\Microsoft

[2017-08-20 18:20] pranavkm commented on #188
Are you trying to debug the tool locally? It's specifically meant for that and it's compiled away in the tool's release builds.

[2017-08-20 18:22] pranavkm commented on #189
@pebezo you're likely running into a variant of https://github.com/aspnet/Mvc/issues/6676. Could you specify the value what you're passing in to `FindView`?

[2017-08-21 03:21] pebezo commented on #189
Yes, sounds like that issue. I'm passing in "FolderName/ViewName" (without any extensions). I've tried may variations like prepending "~/" or "~/Views" and/or with extensions. The only one that worked was "FolderName/ViewName".

[2017-08-21 11:08] ElanHasson commented on #188
No, it was just an observation that the ordinal matters.

Generally speaking, it shouldn't in arguments. Would be very frustrating if someone is trying to debug and hit a wall because of this.

[2017-08-21 14:10] pranavkm commented on #189
We'll use the other issue to track further work in this area if any. For now

(a) Use an extension when specifying a path i.e. `/Views/FolderName/ViewName.cshtml`
(b) Use `GetView` to look up paths.

We'll update the RenderViewToString sample to include the correct usage so this is clearer for future users.

[2017-08-21 14:28] ElanHasson commented on #188
Understood, at least now someone will find this easier if they encounter it.

On Mon, Aug 21, 2017, 10:02 AM Pranav K <notifications@github.com> wrote:

[2017-08-21 18:03] pranavkm commented on #190
@IsaacSee do you have a repro application for this? I couldn't repro it starting from a template.

[2017-08-21 18:17] pranavkm commented on #187
@svallis can you start a separate issue for the other work item? References aren't something the tool influences and we've tackled a couple of independent issues in this work item already.

[2017-08-21 19:15] svallis commented on #187
Sure @pranavkm - what's the most appropriate repo for `.csproj` reference issues?

[2017-08-21 19:17] pranavkm commented on #187
https://github.com/Nuget/Home for restore and package resolution, https://github.com/dotnet/sdk for any SDK specific interactions.

[2017-08-22 08:57] macgyver76 commented on #107
@pranavkm As far as I know, view precompilation works fine after upgrading to 2.0.

[2017-08-22 14:05] hiyelbaz commented on #187
Can you please clearify what is the simplest workaround in a VS2017 solution.

[2017-08-22 14:51] pranavkm commented on #187
@hiyelbaz I'm not entirely sure what the issue you're running in to is. Could you start a new issue?

[2017-08-22 14:52] pranavkm commented on #187
@svallis closing this since we've figured out a solution to your issue.

[2017-08-22 14:52] #187 closed

[2017-08-23 08:38] sebastianbk opened #191 "RazorViewEngine cannot find partial view when running in production"
Ever since upgrading from ASP.NET Core 1.1 to 2.0 I have been running into a bunch of weird issues that I can only reproduce in production and not on my local dev environment. This latest issue is related to `RazorViewEngine` and, when using it to render a partial view, it complains that it cannot find the view.

This problem only occurs when running in production. When I am running the exact same

[2017-08-23 19:17] pranavkm commented on #191
@sebastianbk this is a variant of https://github.com/aspnet/Mvc/issues/6672. Essentially the `PhysicalFIleProvider` does some additional work with path resolution which we don't currently do as part of precompiled views (or `EmbeddedFileProvider`). I detailed your problem here: https://github.com/aspnet/Mvc/issues/6672#issuecomment-324433489

For the time being, here's my recommended workaround:

[2017-08-23 21:12] pranavkm commented on #174
@rynowak do you recall why we chose not to mangle the type name when we added the `@namespace` feature? Is mangling the type name a possible solution here? The alternative to this would be to mirror what we do at runtime and produce an assembly per view, but that doesn't seem like a very good solution.

[2017-08-23 23:23] rynowak commented on #174
Mangling the names would be a good solution, at least for viewstarts.

[2017-08-24 17:15] Eilon commented on #133
This patch is *approved* for 1.1.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

[2017-08-24 19:40] dasMulli opened #194 "Target MvcRazorPrecompile is skipped on file rename/deletions for incremental builds."
The `MvcRazorPrecompile` target uses all razor files as inputs for incremental compilation, but msbuild really only tracks the highest modification timestamp of the passed inputs, so any change to the closure of the files - especially renames and deletions - do not cause the target to be rebuilt.

See https://github.com/Microsoft/msbuild/issues/2470 for more details.

A possible workaround would b

[2017-08-24 19:58] pranavkm commented on #194
Great catch. I'll see if we can use the same pattern as csc here. For the time being, deleting the output file `$(_MvcRazorOutputFullPath)` might be a good way to ensure you aren't running in to this.

[2017-08-25 17:53] pranavkm commented on #133
Fixed in https://github.com/aspnet/MvcPrecompilation/commit/70aafafb0f12cd479f2aaedde236ce7be335c614

[2017-08-25 17:53] #133 closed

[2017-08-25 20:26] pranavkm opened #195 "[Patch 1.1.3] : Flaky test ViewCompilationOptionsTest.PublishingWithOption_AllowsPublishingRefAssemblies"
[code]

[2017-08-25 20:27] pranavkm commented on #195
cc @Eilon

[2017-08-27 10:58] rosieks opened #198 "<project-name>.PrecompiledViews requires dependency in higher version that deployed."
Hi,
I have created new application and after sometime I have deployed it to Azure where it fails, with the following exception:

I checked what was deployed to server and it looks like there is _System.Runtime 4.1.2.0_. After enabling fusion logs I found that library that _System.Runtime 4.2.0.0_ is required by _Monitoring.Web.PrecomipledViews_. I suppose that it's that contains my precompiled vie

[2017-08-27 14:34] rosieks commented on #198
It looks like I have old assemblies compiled for .NET Core

[2017-08-27 14:34] #198 closed

[2017-08-28 14:59] pranavkm commented on #195
Skipped in https://github.com/aspnet/MvcPrecompilation/commit/5a7e4b83cbd6d7d24c05516c00e84923f17a8366

[2017-08-28 14:59] #195 closed

[2017-08-29 13:08] ctolkien commented on #174
Just hit this with a MVC `Area` with it's own `_ViewImports`.

[2017-08-29 16:03] pranavkm commented on #174
@ctolkien until we fix this, picking a different namespace is the way to go.

[2017-08-31 23:07] #102 closed

[2017-09-01 22:59] Eilon commented on #190
Closing because there is not enough information to reproduce this problem.

[2017-09-01 22:59] #190 closed

[2017-09-07 00:03] Eilon commented on #191
Closing because this is covered by https://github.com/aspnet/Mvc/issues/6672.

[2017-09-07 00:03] #191 closed

[2017-09-07 03:00] DamianEdwards commented on #162
Eeep, that's really bad. What's the root cause you think?

[2017-09-07 16:19] pranavkm commented on #162
This might have been fixed in the templates. The issue was that Empty Web had `PreserveCompilationContext` disabled (https://github.com/dotnet/templating/commit/34037263ab6ddfcce6b4d65507e21c168521b45e). Usually we'll print a message saying you are missing this when a view fails to compile. In the absence of any views, we only compile an auto-generated `AssemblyInfo` that fails this way. The simpl

[2017-09-11 09:37] henkmollema commented on #39
@pranavkm did anything change regarding to this in 2.0? Or is this still "the way" to override the default pre-compilation behavior of MVC?

[2017-09-11 16:30] pranavkm commented on #39
Not that I know of. Is it no longer working as expected?

[2017-09-13 13:58] henkmollema commented on #39
No, it's still working fine. Just needed this workaround again and wondered if it got any better since then.

[2017-09-18 09:54] Smilefounder opened #202 "Precompiled views does not run with Areas folder in project and library in 2.0.0"
I think my team are facing an issue with precompiled views does not run with Areas folder in project and library in 2.0.0.

Is it support with Areas folder structure yet?

[2017-09-18 18:07] pranavkm commented on #202
@Smilefounder area views should work just as any other view. Do you have a repro sample where precompilation doesn't work? Would be helpful to diagnose if there is in fact a bug.

[2017-09-19 03:55] Smilefounder commented on #202
@pranavkm : Actually my team is working on the project for the client that I can not provide the source code, will provide you with some sample source code later ASAP. For now you can see the error message below:

![image](https://user-images.githubusercontent.com/3785721/30575148-07635112-9d29-11e7-9283-654d8dfa323a.png)

[2017-09-19 04:06] rynowak commented on #202
What about the `csproj`? Is there anything in there related to .cshtml files?

[2017-09-19 04:42] Smilefounder commented on #202
@rynowak : My team did check the csproj. But there are nothing wrong with csproj. That is the reason why I'm a bit concern that "MvcPrecompilation" not work with the following structure:

![image](https://user-images.githubusercontent.com/3785721/30576091-8e69ea30-9d2f-11e7-9a27-f0ed1cca7f0c.png)

[2017-09-19 12:46] ahdung opened #204 "How avoid "PrecompiledViews.pdb" in publish dir?"
VS2017, dotnet core 2.0, publishing with Release mode.

I can add `<CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>` in release.pubxml to avoid all *.pdb except "xx.PrecompiledViews.pdb", please help.

[2017-09-19 16:59] pranavkm commented on #202
Thanks, I'll give the sample a try.

[2017-09-19 17:00] pranavkm commented on #202
@Eilon self assigning for investigation.

[2017-09-19 17:15] pranavkm commented on #204
Spoke to @vijayrkn offline. We'll need to honor the `CopyBuildOutputToPublishDirectory` to do this: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Publish.targets#L198-L202.

@ahdung unfortunately we don't have a good way to disable publishing symbols at this point. Your best bet would be to run a build target after publish and delete the file fro

[2017-09-19 17:19] vijayrkn commented on #204
@pranavkm The property is `CopyOutputSymbolsToPublishDirectory`

[2017-09-19 17:43] Smilefounder commented on #202
@pranavkm : Thanks. Feel free to let me know if you have any concern.

[2017-09-20 01:19] ahdung commented on #204
@vijayrkn I know and using this tag, but it not work for xx.PrecompiledViews.pdb.

[2017-09-20 01:21] vijayrkn commented on #204
I believe @pranavkm will be adding code to honor this property.

[2017-09-20 11:46] PeterHagen commented on #187
I have been trying out this solution to get my project working with precompiling. And I'm starting to need it, cause the compiling in production is taking too much memory and time.

I have multiple 'base' projects with views, that are referenced in my project. I included the target _RunPrecompileForClassLib and that works. But in runtime I get the exception about the multiple viewimports. Then I c

[2017-09-20 21:12] pranavkm opened #207 "Types implemeting IDesignTimeMvcBuilderConfiguration can't be loaded if they do not have a no-arg constructor"
The pattern we've been recommending users to allow configuring `IMvcBuilder` is to make the Startup type implement `IDesignTimeMvcBuilderConfiguration` and move the configuration of `IMvcBuilder` in to `IDesignTimeMvcBuilderConfiguration.ConfigureMvc`:

[code]

The tool assumes that the type has an empty constructor (it does `Activator.CreateInstance`). This doesn't work with the Startup generated

[2017-09-20 21:24] pranavkm commented on #207
One workaround would be to have not-Startup implement the interface:

[code]

[2017-09-20 21:46] pranavkm commented on #207
Yup. The right fix seems to do most of the work we do in WebHostBuilder (https://github.com/aspnet/Hosting/blob/500668619fc790c43ccbb5ab399bdbbcf3955414/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L243-L262) or something along these lines.

[2017-09-23 20:12] guardrex commented on #186
@pranavkm #102 went in, but I can't get it working (if that fix was supposed to get precomp views working with SCD again).

[code]
[code]
[code]
[code]

[2017-09-23 20:15] guardrex commented on #186
Nevermind ..... bad `RuntimeFrameworkVersion` in my test app. It's working now.

[2017-09-23 20:15] #186 closed

[2017-09-26 08:57] Smilefounder opened #209 "Is there any that we can make MVC precompile on runtime?"
Hi team,

It is nice that we have MVC precompile option.
But my team now facing an issue that we would like to precompile VMC view on runtime. Is it possible yet?

Thanks,
Huy

[2017-09-26 14:18] pranavkm commented on #209
You can disable precompilation `<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>` and views will get published and runtime compiled. Is that what you meant to ask?

[2017-09-26 15:33] Smilefounder commented on #209
@pranavkm : Sorry for have you confused. I asked the question because our Swastika I/O going to have online view editing from the CMS. But I still want to have this function turn on and compile the updated view after all. Is it possible?

[2017-09-26 18:38] pranavkm commented on #209
Mvc does not currently support precompiled updateable views. We had an offline discussion about this, but haven't as yet fleshed out an actual feature design for it. cc @rynowak \ @DamianEdwards

[2017-09-26 20:12] #204 closed

[2017-09-27 04:53] Smilefounder commented on #209
Thanks for letting me know. This feature will be really nice to have. Hope this will come soon in the next couple versions. Else, we have to disable Precompile in our project for now.

Thanks.

[2017-09-28 09:19] nhathoang989 commented on #202
I think we can fix this issue manually by edit .csproj:

- Prevent precompiled (optional)
 `<PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>
  </PropertyGroup>
`
- Include views
 `<ItemGroup><Content Include="Views\**\*" CopyToPublishDirectory="Always" /><Content Include="Areas\*\Views\**\*" CopyToPublishDirectory="

[2017-10-02 16:38] pranavkm commented on #202
@Smilefounder I tried your app. The route you describe in the error (`Portal/Article/Index`) does not exist in the application. I used a different area route (`Portal/Contents/Add-article`) and I was able to successfully get a view to be returned with 1.1 and 2.0 after publish without removing view compilation. Is there a specific view that isn't being rendered?

[2017-10-03 04:00] Smilefounder commented on #202
Thanks @pranavkm. Let me and the team try again. Look like our source code need to be clean up as it is from .net core v1.1. Please feel free to close this issue.

[2017-10-03 15:40] pranavkm commented on #202
Cool. Reopen this issue if you continue seeing this issue.

[2017-10-03 15:40] #202 closed

[2017-10-04 21:29] Eilon commented on #207
Moving to backlog until we get more feedback on this.

[2017-10-12 01:54] JunTaoLuo opened #210 "Functional tests hang with latest runtime"
I have disabled the functional tests to unblock the build in https://github.com/aspnet/MvcPrecompilation/commit/61a9475b573e18b661dc4bb257f8591cae7f44f4 which needs to be reverted.

The error seems to stem from redirection of StandError not working as expected on the latest 1.1 runtime, see http://aspnetci/viewLog.html?buildId=343743&tab=buildResultsDiv&buildTypeId=Releases_Ubuntu1404:
[code]

cc

[2017-10-12 03:58] dasMulli opened #211 "Precompilation should not run on projects without views"
As optimization: If a project has no views `.cshtml`, it should not run precompilation to generate a `*.PrecompiledViews.dll`.

This makes sense for API-only apps (REST endpoints, new SignalR / ASP.NET Core Sockets).

Seen on StackOverflow: https://stackoverflow.com/questions/46700399/deleting-precompiledviews-dll-from-asp-net-core-2-api

[2017-10-12 14:59] pranavkm commented on #210
Is this in the 1.1 patch branch?

[2017-10-12 15:01] pranavkm commented on #211
Sounds good. There's a related issue where if you start with an application that decidedly turns off `PreserveCompilationContext` if it requires runtime compilation, it causes the tool to fail - https://github.com/aspnet/MvcPrecompilation/issues/162

[2017-10-12 15:16] JunTaoLuo commented on #210
Yes

[2017-10-13 02:05] JunTaoLuo commented on #210
Figured it out

[2017-10-13 02:05] #210 closed

[2017-10-13 14:38] pranavkm commented on #210
What was the issue?

[2017-10-16 17:47] evil-shrike commented on #187
Hi.
There were lots of discussions on the topic but I wonder as at the state of **core2.0** what is the official solution for embedding views **and** razor pages in class libraries? Is it documented anywhere?
Should we still use csproj hacking  (`_MvcRazorPrecompileOnBuild`)?

[2017-10-16 23:14] pranavkm commented on #187
@PeterHagen see https://github.com/aspnet/MvcPrecompilation/issues/174 for your `_ViewImports` issue.

@evil-shrike I'm not entirely sure what you're referring to when you say

That said, I'd recommened filing a new discussion issue. This thread is long as it is and we resolved it as some form of packaging issue, so your question doesn't seem to apply here

[2017-10-16 23:29] evil-shrike commented on #187
@pranavkm I meant that to enable precompilation of razor views on build in a class library we have to add this into csproj (as described in [the post](https://dzone.com/articles/self-contained-ui-running-one-aspnet-core-mvc-site) referred by @PeterHagen):
[code]
Is it still the only way to go?

[2017-10-17 14:58] pranavkm commented on #187
@evil-shrike yeah. We haven't worked on any features to make the class library scenario easier. Feel free to open a new feature request issue for this.

[2017-10-17 15:17] svallis opened #213 "Class library view precompilation by default"
The experience when precompiling views in class libraries is currently somewhat error-prone, messy, and poorly documented (see #187). It feels to me like, especially seeing as view precompilation is turned on by default for the main project, it should also be enabled for class libraries out of the box. Turning off view precompilation anywhere should be the extraordinary case. This would bring some

[2017-10-17 15:18] svallis commented on #187
I've taken the liberty of opening a new ticket to suggest that class library view precompilation should be the default - see #213.

[2017-10-17 15:31] evil-shrike opened #214 "Improve support for precompilation of razor views in class libraries (embedded ui)"
As continue of https://github.com/aspnet/MvcPrecompilation/issues/187

The problem: I need a class library with embedded UI.
Currently it's hard implement such setup when a class library in a solution contains pre-compilable razor views. Lloading views from embedded resource is another option and it works fine.

At the end of the mentioned discussion (#187) there was posted a link to blog post abo

[2017-10-24 01:41] CGollhardt commented on #214
I would propose, we have `MergeViewsIntoMainAssemlby` which automaticly precompiles the Views on every Compilation and obviously merge them with the output.

Not sure, how hard this would be to implement, but this would be very easy to use and document.

[2017-11-01 09:59] nfplee commented on #214
I agree the class library shouldn't need to be "runnable". A simple class library like Orchard Core modules looks a lot cleaner.

I also think there should be a way to specify a view prefix e.g. "~/Areas/Blog".  This way we can just have Views directory within the root of the library.

[2017-11-08 01:44] pranavkm opened #217 "Consider using WebHostBuilderFactory in precompilation"
MvcPrecompilation looks for a type implementing `IDesignTimeMvcBuilderConfiguration` in the application's assembly and uses it to configure an `IMvcBuilder` if present. In the absence of this interface, the tool setups a vanilla MvcBuilder (essentially one that we get from `app.AddMvc()`) and runs compilation using services created here. The initial goal of the `IDesignTimeMvcBuilderConfiguration`

[2017-11-15 19:21] pranavkm opened #220 "Re-enable desktop tests once SDK issue is resolved"
View compilation on desktop is currently broken due to https://github.com/dotnet/sdk/issues/1739. Functional tests for desktop are currently disabled and need to be re-enabled once we have a resolution for the sdk issue.

[2017-11-18 12:34] MNF commented on #37
Am I right that https://github.com/aspnet/MvcPrecompilation/issues/136 and https://github.com/aspnet/Announcements/issues/251 are included in asp.net 2.0 and completed?
If yes, should they be closed?

[2017-11-20 01:27] Eilon commented on #37
@MNF yes they are in 2.0.0, but they are "Discussion" and "Announcement" issues so they stay open for a while. We do periodically close discussion issues, but announcement issues remain open unless they become invalid.

[2017-11-28 00:52] Eilon commented on #217
Is this needed anymore, given that we're going the RZC route?

cc @rynowak @DamianEdwards

[2017-12-05 02:48] IEvangelist commented on #214
I agree with this and would like to further propose that the precompiled views be part of the build step. Currently they are only available from either the Visual Studio (_MSBuild_) publish command or the `dotnet publish` command. This is kind of a fundamental misuse of the publish command.

If I take a step back and imagine that I have zero experience or knowledge with how these commands would wo

[2017-12-05 03:10] manigandham commented on #214
@IEvangelist Agree strongly with this, that should be the default or with an easy flag to enable. Compilation is part of `build`, whether it's code or views and we've run into plenty of issues where devs check in code that builds but ends up with errors during publish.

[2017-12-07 18:45] ryanbrandenburg opened #224 "Flaky test: Precompilation_PreventsRefAssembliesFromBeingPublished"
There seems to be some contention on the testapp dll's in [these](http://aspnetci/viewLog.html?buildId=363359&tab=buildResultsDiv&buildTypeId=XPlat_HighSierraOsxUniverse#testNameId-1193754046721736950) tests, likely exposed by tests running in parallel.

[2017-12-09 00:02] ryanbrandenburg opened #225 "Flaky test: PublishingWithOption_SkipsPublishingPdb"
As seen [here](http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=364849).

[code]

Looks like two functional tests are trying to write to this file in `SimpleApp` at the same time.

[2017-12-11 03:26] joshua-mng opened #226 "How to exclude certain views from being precompiled"
I have certain view files (plugin and email razor files) which I want to exclude when publishing.

Can you tell me how to do that?

[2017-12-11 17:18] rynowak commented on #217
Deffo not needed

[2017-12-11 17:48] mkArtakMSFT commented on #217
We're not going to make any other significant enhancements to this feature, as we'll be replacing it with a better one.

[2017-12-11 17:48] #217 closed

[2017-12-11 17:50] mkArtakMSFT commented on #226
@pranavkm , can you please advise here? Thanks!

[2017-12-11 17:51] mkArtakMSFT commented on #225
@pranavkm , can you please have  a look at this? Thanks!

[2017-12-11 17:52] mkArtakMSFT commented on #224
@pranavkm , can you please have a look at this? Thanks!

[2017-12-11 17:55] mkArtakMSFT commented on #214
This issue was moved to aspnet/Razor#1809

[2017-12-11 17:55] #214 closed

[2017-12-11 17:59] mkArtakMSFT commented on #213
Dup of https://github.com/aspnet/Razor/issues/1809

[2017-12-11 17:59] #213 closed

[2017-12-11 18:02] mkArtakMSFT commented on #209
This is going to be covered by the following issue: https://github.com/aspnet/Razor/issues/1809

[2017-12-11 18:02] #209 closed

[2017-12-11 18:04] mkArtakMSFT commented on #207
We're not going to make any other significant enhancements to this feature, as we'll be replacing it with a better one.

[2017-12-11 18:04] #207 closed

[2017-12-11 18:07] mkArtakMSFT commented on #194
This issue was moved to aspnet/Razor#1810

[2017-12-11 18:07] #194 closed

[2017-12-11 18:09] mkArtakMSFT commented on #174
This issue was moved to aspnet/Razor#1811

[2017-12-11 18:09] #174 closed

[2017-12-11 18:13] mkArtakMSFT commented on #162
We're not going to make any other significant enhancements to this feature, as we'll be replacing it with a better one.

[2017-12-11 18:13] #162 closed

[2017-12-11 18:13] mkArtakMSFT commented on #211
We're not going to make any other significant enhancements to this feature, as we'll be replacing it with a better one.

[2017-12-11 18:13] #211 closed

[2017-12-11 18:15] #136 closed

[2017-12-11 18:16] mkArtakMSFT commented on #100
We're not going to make any other significant enhancements to this feature, as we'll be replacing it with a better one.

[2017-12-11 18:16] #100 closed

[2017-12-11 18:18] mkArtakMSFT commented on #72
We're not going to make any other significant enhancements to this feature, as we'll be replacing it with a better one.

[2017-12-11 18:18] #72 closed

[2017-12-11 18:37] pranavkm commented on #226
We look at all `Content` items that have a cshtml extension. Consequently, excluding a file from the csproj (Right click -> Exclude from project) should exclude the file from precompilation. Alternatively, there's a `MvcRazorFilesToCompile` that gives you full fidelity on the ItemGroup you can want to compile:

[code]

[2017-12-11 18:49] pranavkm commented on #224
Test skipped as part of https://github.com/aspnet/MvcPrecompilation/commit/62819b4abc94bafbf090387c62fb3fbcca07e0ca

[2017-12-11 18:49] #224 closed

[2017-12-11 18:49] pranavkm commented on #225
Test skipped as part of https://github.com/aspnet/MvcPrecompilation/commit/62819b4abc94bafbf090387c62fb3fbcca07e0ca

[2017-12-11 18:49] #225 closed

[2017-12-11 20:06] ryanbrandenburg commented on #225
Can we at least leave this issue open to track the need for a proper fix and re-enabling? I assume we still feel these tests have value, otherwise we should just delete them.

[2017-12-11 23:15] pranavkm commented on #225
@ryanbrandenburg see https://github.com/aspnet/MvcPrecompilation/pull/227/files

[2017-12-12 03:38] joshua-mng commented on #226
Here is the snipped of code I'm using

When I exclude using `<Content Remove="Plugins\**" />`, those views are not being copied into the publish output. I want them to be copied to the publish output directory.

When I also use MvcRazorFilesToCompile, views inside Plugins directory are still being compiled.

My application has the following structure:

[code]

Plugins directory contains plugin DLL

[2017-12-14 06:21] joshua-mng commented on #226
So what you suggest is to do following in order to achieve what I want:

[code]

I tried above, and it STILL compiles all view files inside Plugins folder.

Can you paste snippet of code to do following?

- I want all CSHTML files to be precompiled upon publish
- But I DON'T want views inside Plugins folder to be precompiled, but still to be copied to the publish output

Thank you

[2017-12-15 23:10] pranavkm commented on #226
`*.cshtml` would only find views at the top level it will not intersect with any files in the Plugins directory. You probably want something along the lines of
*  `Views\**\*.cshtml` or
* `**\*.cshtml` while additionally excluding files under the `bin` and `obj` directory.

If you're still running in to trouble, could you include a sample and we go from there?

[2017-12-15 23:17] pranavkm commented on #220
We don't need to do this anymore.

[2017-12-15 23:17] #220 closed

[2017-12-18 02:16] joshua-mng commented on #226
Thanks

It seems following line did the trick.

`<MvcRazorFilesToCompile Include="**\*.cshtml" Exclude="Plugins\**\*.cshtml;Themes\**\*.cshtml;bin\**\*.cshtml;obj\**\*.cshtml" />`

[2017-12-18 02:16] #226 closed

[2017-12-18 18:41] ryanbrandenburg opened #228 "Flaky test on Mac: PublishWithRidTest_CoreCLR.CrossPublishingWorks"
As seen [here](http://aspnetci/project.html?tab=testDetails&testNameId=9126959089825856935&projectId=AspNetEf)
[code]

This seems to only happen on Mac machines.

[2017-12-27 18:44] mkArtakMSFT commented on #228
@ajaybhargavb, can you please handle this?

[2017-12-27 19:06] ajaybhargavb commented on #228
Just checked if this is flaky on Ubuntu as well but couldn't reproduce. I'm going to try it when I can get my hands on a Mac.

[2017-12-28 17:27] pranavkm commented on #228
Could we just disable \ delete all the tests on this repo instead?

[2017-12-28 17:42] ryanbrandenburg commented on #228
Why do you want to remove all the tests @pranavkm?

[2017-12-28 17:44] pranavkm commented on #228
The repo's being obsoleted and we don't intend on shipping any binaries from it - https://github.com/aspnet/MvcPrecompilation#aspnet-core-mvc-precompilation.

[2017-12-30 04:30] alexsorokoletov commented on #191
And I thought I'm going nuts... Thank you for opening and tracking this issue.

[2018-01-02 23:37] ajaybhargavb commented on #228
We won't need to do this after https://github.com/aspnet/MvcPrecompilation/pull/229.

[2018-01-04 00:53] pranavkm commented on #228
We do need to continue running tests from this repo. @ajaybhargavb could you undo https://github.com/aspnet/MvcPrecompilation/commit/64cb5d065f8b28a4400ec28e4c071eed9a3203bd when you have had a chance to investigate this?

[2018-01-04 00:54] pranavkm opened #230 "Come up with Razor compilation change story for transition from 2.0 to 2.1"
We want to guide users to use Razor.Design. We should print a warning when the target is invoked but continue functioning as before.

[2018-01-04 01:44] ajaybhargavb commented on #228
Oh I guess I misunderstood what you meant. Will do.

[2018-01-12 17:16] jhudsoncedaron opened #231 "Precompiled views don't work for relative paths"
On running `dotnet publish` I get a *.PrecompiledViews.dll and no refs folder.

On running `dotnet publish -r win7-x64` I get no *.PrecopmiledViews.dll and a refs folder.

I tried copying the *.PrecompiledViews.dll from one to the other but it didn't work.

[2018-01-12 17:36] mkArtakMSFT commented on #231
@pranavkm, what is the expected behavior here?

[2018-01-12 17:38] jhudsoncedaron commented on #231
Expected: dotnet publish -r win7-x64 should yield *.PrecompiledViews.dll and no refs folder.

[2018-01-12 17:52] pranavkm commented on #231
We specifically disabled precompilation for self contained apps in 2.0. https://github.com/aspnet/MvcPrecompilation/issues/102#issuecomment-287653103 has some guidance on what you could do workaround this. The issue is addressed as part of 2.1.0-preview1 release.

[2018-01-12 19:31] jhudsoncedaron commented on #231
That workaround definitely does not work. Excluding the views and providing *.PrecompiledViews.dll just results in "View not found" being spammed to the log file.

[2018-01-12 22:14] pranavkm commented on #231
Do you have a repro app for this? We've had folks

[2018-01-12 22:20] jhudsoncedaron commented on #231
I have an application that reliably reproduces it but I can't publish it here. At this point our team plan is to try the 2.1 version of .NET Core (which will take some effort) before we see if we can reduce this out. I was able to try the workaround quickly because it merely involved copying a few files around.

[2018-01-16 17:18] jhudsoncedaron commented on #231
@pranavkm : I couldn't find an official preview release, and the nightly builds currently ship with an MVC Razor that doesn't work. I filed the bug in core itself because the template mvc project doesn't work. https://github.com/dotnet/core/issues/1221

[2018-01-16 17:42] mkArtakMSFT commented on #231
@jhudsoncedaron, unfortunately we won't be able to help you without a repro. If you could share with us a minimalistic repro project, with all the "sensitive" stuff stripped out, that would be great.

[2018-01-16 18:00] pranavkm commented on #231
@jhudsoncedaron the issue is a runtime issue. Updating to the most recent `Microsoft.AspNetCore.All` runtime (https://github.com/aspnet/Universe#daily-builds) should resolve the issue

[2018-01-16 19:17] jhudsoncedaron commented on #231
I'm sorry. I don't actually understand razor views very well and am blundering around. I have successfully determined the following: The workaround doesn't work when the view references another view with '..' in the reference path.

[2018-01-16 20:14] pranavkm commented on #231
@jhudsoncedaron when you say reference, is this when you're attempting to do something along the lines of `Html.Partial("../_Partial")` or `Layout = "../Layout"`? We did have a couple of issues around this that we fixed as part of https://github.com/aspnet/Mvc/issues/6676, but perhaps you're run in to a scenario we didn't fix cover. What does the calling code look like - that should give us someth

[2018-01-17 15:42] jhudsoncedaron commented on #231
I constructed a (silly) reproduction from the empty template using Html.Partial.

build project with
    dotnet publish
    dotnet publish -r win7-x64
    cd bin\debug\netcoreapp2.0\win7-x64\publish
    mklink emptymvc20.PrecompiledViews.dll ..\..\publish\emptymvc20.PrecompiledViews.dll
    rmdir /s Views

Run with
    emptymvc20.exe

Open http://localhost:5000; see that the page loads.
Open http:

[2018-01-17 15:55] pranavkm commented on #231
Thanks @jhudsoncedaron. I'll have a look.

[2018-01-17 15:57] jhudsoncedaron commented on #231
I tried it on the nightly builds but ASP .NET nightly builds are still broken as of today's build 2.2.0-previwe1-007947 retrieved from https://github.com/dotnet/cli/blob/master/README.md

[2018-01-17 23:02] mkArtakMSFT commented on #230
Moving to preview2, as we still have no story for transitioning (including whether we will have a warning message or not)

[2018-01-22 19:18] pranavkm commented on #231
@jhudsoncedaron, the issue is fixed in 2.1.0-preview1. Here's the change to your csproj you can use to verify the change:

[code]

For the 2.0 release, here's some past discussion around this area: https://github.com/aspnet/Mvc/issues/6672#issuecomment-322918977. Tl;dr: use `@Html.Partial("../T1/Index.cshtml", null)`. That should cause Mvc to treat it as a path instead of a name and running in to

[2018-01-22 19:18] #231 closed

[2018-01-22 19:18] pranavkm commented on #231
Dup of https://github.com/aspnet/Mvc/issues/6672

[2018-01-23 18:56] yepeekai commented on #47
Using anycpu seems to fail.  The logic to use == x86 and != x86 has been removed and the target file uses $(PlatformTarget) directly which doesn't work for 'AnyCpu':

"bin\Debug\net471\win-x64\Microsoft.AspNetCore.Mvc.Razor.ViewCompilation-AnyCPU.exe" @"obj\Debug\net471\win-x64\microsoft.aspnetcore.mvc.razor.viewcompilation.rsp"

[2018-01-30 16:26] yepeekai opened #240 "compilation fails for: platform AnyCPU, .netframework"
The targets file doesn't support AnyCPU when using the .netframework.

Here is the problematic portion in the [file](https://github.com/aspnet/MvcPrecompilation/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation/build/netstandard2.0/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.targets)

`    <PropertyGroup Condition="'$(_MvcViewCompilationBinaryPath)'==''">
      <_MvcViewCompilationBin

[2018-01-31 06:50] ruchanb commented on #39
How about using only local views?
[code]

[2018-01-31 08:21] henkmollema commented on #39
@ruchanb it's about _using_ the precompiled views, not generating them.

[2018-01-31 19:06] ryanbrandenburg opened #241 "Broken test: Publish_UsesRazorSDK"
`Publish_UsesRazorSDK` was broken by Razor. I skipped it in aspnet/MvcPrecompilation#242 to make the build pass, but it should be investigated and re-enabled once it works.

[2018-01-31 19:57] ryanbrandenburg commented on #241
@pranavkm who I'm told is related to this.

[2018-02-02 17:33] mkArtakMSFT commented on #240
Thank you for your feedback.
@rynowak, any thoughts about this one?

[2018-02-02 17:58] rynowak commented on #240
@pranavkm knows this area, I'm not very familiar with it

[2018-02-06 10:13] valeriob opened #243 "Is it possibile to both precompile and still publish cshtml files ?"
if i enable view precompilation and set this property on the project file <MvcRazorExcludeViewFilesFromPublish>false</MvcRazorExcludeViewFilesFromPublish>
will i benefit from view pre-compilation on first startup if i do not modify those files ?

[2018-02-06 17:22] mkArtakMSFT commented on #243
Hi @valeriob. There is no way to have both precompilation and runtime compilation running side by side. Those are mutually exclusive by design. In ASP.NET Core 2.1, however, we are going to support both compiling the views and allowing runtime updates for those.

[2018-02-06 17:22] #243 closed

[2018-02-07 22:26] mkArtakMSFT commented on #240
@pranavkm, can you please look into this? Thanks!

[2018-02-07 23:05] pranavkm commented on #240
Yup, seems about right. We have precedence to use 64 bit binaries for AnyCPU (https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/dotnet-ef/RootCommand.cs#L118-L120), so presumably we'd need to do fix up the target to do this. @mkArtakMSFT how should I proceed with this issue? The fix is trivial, but likely more useful in a patch scenario rather than 2.1.0 where you'd use Razor Sdk.

[2018-02-08 18:42] mkArtakMSFT commented on #240
Thanks @pranavkm. @yepeekai, I'm trying to evaluate the urgency of this, so would be great to understand how critical is the impact of this for you?

[2018-02-08 19:12] yepeekai commented on #240
I put a workaround in my csproj file (a target before and after the one here) so there is no urgency in my case.  thanks.

[2018-02-13 20:18] pranavkm commented on #230
cc @rynowak

The Sdk handles the transition for you - the only thing left to do is possibly add a message that tells users to use RazorSdk if `MvcRazorCompile` is invoked.

[2018-02-14 21:39] pranavkm commented on #230
Spoke to @rynowak offline and we don't need to do anything additional here.

[2018-02-14 21:39] #230 closed

[2018-02-23 11:46] Matthew-Bonner commented on #39
For others reading this, in 2.0 `Views` has been renamed to `ViewDescriptors`.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.razor.compilation.viewsfeature.viewdescriptors?view=aspnetcore-2.0

[2018-02-24 02:34] #241 closed

[2018-02-27 00:48] ryanbrandenburg commented on #228
A non-comprehensive list of the failures we've seen for this and similar problems can be found [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:PrecompiledViewsNotFound,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-16 23:56] ryanbrandenburg commented on #228
The list I linked above makes it clear that this issue is not only on mac.

[2018-03-19 23:02] ryanbrandenburg opened #248 "Broken tests: PublishAndRunTests_X64_WebListener_Clr et al"
_From @ryanbrandenburg on March 19, 2018 17:42_

[This](http://aspnetci/viewLog.html?buildId=424027&buildTypeId=Lite_MusicStoreTest) test (and others like it) fails with the error:
[code]

My guess would be something isn't getting properly mocked because we end up with `MusicStore.Views, Version=1.0.0.0` instead of `MusicStore.Views, Version=0.0.0.0`

_Copied from original issue: aspnet/Razor#2182

[2018-03-19 23:02] ryanbrandenburg commented on #248
A list of these failures can be found [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:ViewVersion,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-19 23:02] ryanbrandenburg commented on #248
This reproduced for me when I ran MvcPrecompilation locally.

[2018-03-19 23:02] ryanbrandenburg commented on #248
_From @pranavkm on March 19, 2018 22:52_

Wrong repo?

[2018-03-19 23:34] ryanbrandenburg commented on #248
So this isn't flaky, it fails every time? Do I understand correctly that it was a change in SDK behavior that only showed up when Universe updated?

[2018-03-19 23:47] pranavkm commented on #248
Yup. We started inferring the assembly version of compiled views in Razor Sdk. This was picked up since we updated the CLI.

[2018-03-20 16:54] ryanbrandenburg commented on #248
This is still happening in a bunch of other places. I'll be adding them all to the list.

[2018-03-20 16:58] ryanbrandenburg commented on #248
RazorSdkUsedTest_CoreCLR.Publish_UsesRazorSDK is one of them. As seen [here](http://aspnetci/viewLog.html?buildId=424722&buildTypeId=XPlat_HighSierraOsxUniverse).

[2018-03-20 23:15] pranavkm commented on #248
Fixed in 3e319ae2aaeca98566babd31c55b7c7ce725c2fc

[2018-03-20 23:15] #248 closed

[2018-03-26 18:06] ryanbrandenburg opened #251 "Broken test: ConsumingClassLibrariesWithPrecompiledViewsWork"
[This test](http://aspnetci/viewLog.html?buildId=430793&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe#testNameId7765957466554203500) is failing [100% of the time](http://aspnetci/project.html?projectId=XPlat&testNameId=7765957466554203500&tab=testDetails) on the CI.
[code]

further, when it fails on [High Sierra](http://aspnetci/viewLog.html?buildId=430799&tab=buildResultsDiv&buildTy

[2018-03-26 21:15] #251 closed

[2018-03-27 17:30] ryanbrandenburg opened #254 "Flaky test: PublishingWithOption_SkipsPublishingPrecompiledDll"
This test [fails](http://aspnetci/viewLog.html?buildId=431374&buildTypeId=Lite_MvcPrecompilation) occasionally with the following error:
[code]

Future instances of this error can be found [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:RspAccess,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-27 17:47] pranavkm commented on #240
This is affecting our F# template tests (https://github.com/aspnet/templating/issues/365). Getting this addressed for preview2.

[2018-03-27 19:28] #240 closed

[2018-03-28 16:57] mkArtakMSFT commented on #254
@ajaybhargavb, can you please investigate this one too? Thanks!

[2018-03-30 00:09] ajaybhargavb commented on #228
83ebebcabc90783c7b45b006fd5b2a0ca3e62edc

[2018-03-30 00:09] #228 closed

[2018-03-30 00:09] ajaybhargavb commented on #254
83ebebcabc90783c7b45b006fd5b2a0ca3e62edc

[2018-03-30 00:09] #254 closed

[2018-04-03 08:21] cqkisyouq opened #260 "How to generate multiple projects？"
I have a main project  "A"
Referencing project B
A contains Views
B contains Views
How can I publish it together?

Now there is only one "A.precompiledviews.dll" that has been released without "B.precompiledviews.dll".

[2018-04-03 17:29] mkArtakMSFT commented on #260
Thanks for contacting us, @cqkisyouq.
@pranavkm, can you please look into this? Thanks!

[2018-04-03 19:01] pranavkm commented on #260
There isn't first class support for precompiled views built using the precompilation tool to be used in project references or packaged. We're addressing these deficiencies as part of the Razor SDK in 2.1.0-preview2 (See https://github.com/aspnet/Razor/issues/1740).

That said, here's how you you could edit your project A to invoke the `MvcRazorCompile` target and copy the precompiled views dll ove

[2018-04-03 22:38] mkArtakMSFT commented on #260
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-03 22:38] #260 closed

[2018-04-06 03:12] rocklan commented on #162
This is also a problem if you create a WebApi project with no views, so I'm not sure why this issue is closed when it's still a bug.. but as a workaround, adding the following to my .csproj fixed the problem for me:

    <PropertyGroup>
        <MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>
        <PreserveCompilationContext>false</PreserveCompilationContext>
    </PropertyGroup>

[2018-04-06 18:07] ryanbrandenburg opened #261 "Flaky test: Precompilation_WorksForSimpleApps"
This test [fails](http://aspnetci/viewLog.html?buildId=442325&buildTypeId=Lite_MvcTest) occasionally with the following error:

[code]

Future instances of this failure can be found [here](http://aspnetci/project.html?projectId=XPlat&testNameId=3727025192993549654&tab=testDetails).

[2018-04-15 18:02] DenisKot opened #262 ".Net Core 2.0 mvc.razor.viewcompilation.rsp build exception MSB3073 exited with code -2147450751"
Build solution fails with strange error:

If double click on error VS opens up file:

At line:
`<Exec Command="$(ExecArgs)" WorkingDirectory="$(MSBuildProjectDirectory)" />`

To fix it I've tried to update .net core libraries from version 2.0.0. to 2.0.6, have been update visual studio 2017 to 17.6.6, even revret my changes but nothing is helping.

If to set in .csproj
`<MvcRazorCompileOnPublish>f

[2018-04-17 00:57] pranavkm opened #263 "MvcPrecompilation should use the Razor sdk package version"
The change - aspnet/Razor@95835d6 - makes the Microsoft.AspNetCore.Mvc.Razor.Extensions package incompatible with the Razor Sdk in the CLI. We need to reference the package that is produced in our builds to make it compatible and fix test failures:

Sample failure:

System.InvalidOperationException : Cannot find reference assembly 'Microsoft.EntityFrameworkCore.Design.dll' file for package Microso

[2018-04-17 16:25] #263 closed

[2018-04-17 21:05] mkArtakMSFT commented on #262
Thanks for contacting us, @DenisKot.
@pranavkm, seems familiar. What is our guidance in this cases?

[2018-04-17 22:00] kasper3 commented on #262
@DenisKot would be nice to have a self-contained steps to repro, in order for anyone to fix it.

[2018-04-18 17:02] mkArtakMSFT commented on #262
Thank you for filing this issue. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem? @DenisKot

[2018-04-19 21:02] #262 closed

[2018-05-09 12:28] guylando opened #268 "precompiling views which are in separate project"
I would like to perform views precompilation in the following scenario for net core version 2.1.0-rtm-30733 targeting net461:

Solution has 2 projects:
Project A has the startup.cs class and all the logic
Project B has wwwroot and Views

project A loads project B views using:
.AddRazorOptions(options =>
                {
                    options.FileProviders.Clear();
                    option

[2018-05-09 16:14] mkArtakMSFT commented on #268
This issue was moved to aspnet/Mvc#7759

[2018-05-09 16:14] #268 closed

[2018-05-18 23:18] pranavkm opened #270 "Compiling a 2.1.0 project targeting desktop with a reference to the ViewCompilation package produces a warning about mismatch in architectures"
[code]

[2018-05-24 23:19] #270 closed

[2018-05-31 21:28] kmanpro commented on #243
Has this been implemented with the 2.1 release? I didn't see it anywhere on the release notes?

[2018-06-11 20:42] ajaybhargavb commented on #261
@pranavkm recently made a [change](https://github.com/aspnet/MvcPrecompilation/pull/272) to fix the way we deploy these tests (which is where the above failure happens). I checked the CI and this test hasn't failed since (past 20 days).

[2018-06-11 20:42] #261 closed

[2018-06-13 18:45] livarcocc opened #276 "--runtime didn't work, while -r does"
_From @sebastienros on June 9, 2018 18:13_

I managed to do `--self-contained -r win-x64` but `--self-contained --runtime win-x64` fails stating I either need to no use `--self-contained` or specify a runtime id.

Full command:
`dotnet publish -c Release -o c:\temp\publish5 --self-contained --runtime win-x64`

Error message:
[code]

SDK 2.1.300

_Copied from original issue: dotnet/cli#9452_

[2018-06-13 18:45] livarcocc commented on #276
_From @peterhuene on June 11, 2018 22:25_

Hi @sebastienros.  I'm unable to reproduce this on Windows or macOS with 2.1.300.  The `--runtime` option is being respected properly by the `publish` command.

Could you provide a full repro that demonstrates the problem?  Thanks!

[2018-06-13 18:45] livarcocc commented on #276
_From @sebastienros on June 11, 2018 23:24_

[code]

Note that `dotnet publish -c Release -o c:\temp\publish5 --runtime win-x64` without `--self-contained` worked in that case.

I am on Skype for Business if you want to see it for yourself.

[2018-06-13 18:45] livarcocc commented on #276
_From @peterhuene on June 12, 2018 3:52_

I was able to reproduce it with `OrchardCore.Cms.Web`.  I'll see if I can determine the problem.

[2018-06-13 18:45] livarcocc commented on #276
_From @peterhuene on June 12, 2018 4:12_

It looks like Razor is building the project again with an empty `RuntimeIdentifier`:

https://github.com/aspnet/MvcPrecompilation/blob/94e0ecca732e3eb9bbe9094d3db6c356e65d2f36/src/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation/build/netstandard2.0/Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.targets#L74

@rynowak thoughts on this?

[2018-06-13 18:45] livarcocc commented on #276
_From @rynowak on June 12, 2018 4:28_

@sebastienros is this Razor SDK or MvcPrecompilation? Let's sync up tomorrow if it's not clear.

[2018-06-13 18:45] livarcocc commented on #276
_From @sebastienros on June 12, 2018 5:8_

It looks like it's missing the `$(RuntimeIdentifier)` that it's checking right before the line you pointed to. But I am not an expert, so I'll check with the team tomorrow.

[2018-06-13 18:45] livarcocc commented on #276
_From @rynowak on June 12, 2018 5:26_

Ah, I guess I didn't read the comment from @peterhuene - omitting the RID is SUPER intentional. MVC precompilation has significant limitations for apps with RIDs. @pranavkm can explain. Let's get together tomorrow and find a solution.

[2018-06-13 18:45] livarcocc commented on #276
@rynowak Should we move this issue over to Razor?

[2018-06-13 18:45] livarcocc commented on #276
_From @pranavkm on June 13, 2018 17:34_

Sure. Could you move it to https://github.com/aspnet/MvcPrecompilation?

[2018-06-14 17:21] mkArtakMSFT commented on #276
We're closing this issue as MvcPrecompilation is deprecated. Consider using build-time compilation instead.

[2018-06-14 17:21] #276 closed

[2018-06-23 18:26] dougbu opened #277 "Fix flaky tests"
`ApplicationWithParseErrorsTest_CoreCLR.PublishingPrintsParseErrors` and `ApplicationWithParseErrorsTest_Desktop.PublishingPrintsParseErrors` are both unreliable. One or the other has failed in recent UniverseCoherence build chains.

I'm in the process of muting both on the CI.

[2018-08-02 22:42] pranavkm commented on #277
We can leave these skipped. Not much value in investigating and fixing these if they are flaky.

[2018-08-02 22:42] #277 closed

[2018-08-06 11:01] ryanbrandenburg opened #283 "Test failure: Precompilation_WorksForViewsUsingDirectoryTraversal"
This test [fails](http://aspnetci/viewLog.html?buildId=524219&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenbur

[2018-08-06 11:01] ryanbrandenburg commented on #283
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-06 17:51] mkArtakMSFT commented on #283
@pranavkm, is this something we need going forward, or should we just disable the test?

[2018-08-07 19:40] pranavkm commented on #283
The latter. Removed the test

[2018-08-07 19:40] #283 closed

[2018-08-18 02:00] ryanbrandenburg opened #285 "Test failure: Precompilation_WorksForIndexPage_UsingFileName"
This test [fails](http://aspnetci/viewLog.html?buildId=534361&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-18 02:00] ryanbrandenburg commented on #285
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-18 02:00] ryanbrandenburg commented on #285
Precompilation_WorksForIndexPage_UsingFolderName [failed with about the same error](http://aspnetci/viewLog.html?buildId=534361&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-20 15:32] mkArtakMSFT commented on #285
@pranavkm, can you please look into this? Thanks!

[2018-08-20 15:33] mkArtakMSFT commented on #285
@ryanbrandenburg, is this happening only for the codebase in `release/2.1` branch?

[2018-08-20 16:26] ryanbrandenburg commented on #285
Anything with the label `Branch:2.1` is happening on the `release/2.1` branch.

[2018-08-23 19:01] aspnet-hello opened #287 "Test failure: Precompilation_WorksForPageWithRoute"
This test [fails](http://aspnetci/viewLog.html?buildId=537575&buildTypeId=Releases_22xPublic_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made aut

[2018-08-23 19:01] aspnet-hello commented on #287
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-23 19:01] aspnet-hello commented on #287
Publish_UsesRazorSDK [failed with about the same error](http://aspnetci/viewLog.html?buildId=537534&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-24 17:15] aspnet-hello commented on #287
Publish_UsesRazorSDK [failed with about the same error](http://aspnetci/viewLog.html?buildId=538132&buildTypeId=Releases_22xPublic_UbuntuUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-24 17:45] pranavkm commented on #287
Yup, I'll go ahead and disable a couple of these these failing ones

[2018-08-25 00:12] aspnet-hello commented on #287
MvcRazorFilesToCompile_OverridesTheFilesToBeCompiled [failed with about the same error](http://aspnetci/viewLog.html?buildId=538930&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-27 22:01] aspnet-hello commented on #287
Publish_UsesRazorSDK [failed with about the same error](http://aspnetci/viewLog.html?buildId=540067&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-27 22:51] pranavkm commented on #287
Seems like this was a recent regression in Kestrel. Should be fixed by https://github.com/aspnet/KestrelHttpServer/pull/2851/files, https://github.com/aspnet/KestrelHttpServer/pull/2856/commits/f70ba53253480a0c9b672537b8b13058b3e16160. I'll close this once we can confirm the issues have been resolved.

[2018-08-28 02:00] aspnet-hello commented on #287
PrecompiledAssembliesUseSameStrongNameAsApplication [failed with about the same error](http://aspnetci/viewLog.html?buildId=540405&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-28 14:34] olegsavelos opened #288 "Using precompiled views"
Hi.

I am trying to achieve a simple modularity in my .NET 4.6 app with MVC Core 2.1.
I am using the MVCBuileder.AddApplicationPart to add module assemblies and for most of it all works as expected.

My only problem is that with current setup only views that are present in the module folder are used.
Precompiled views are never searched although i have loaded them to app domain with Assembly.LoadF

[2018-08-28 16:02] mkArtakMSFT commented on #288
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-08-28 18:00] pranavkm commented on #285
Tests skipped in https://github.com/aspnet/MvcPrecompilation/commit/64b65b6991b61451ac93ce94bb43d94097c891f9

[2018-08-28 18:00] #285 closed

[2018-08-30 12:01] aspnet-hello opened #292 "Test failure: PrecompiledAssembliesUseSameStrongNameAsApplication"
This test [fails](http://aspnetci/viewLog.html?buildId=542459&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-30 12:01] aspnet-hello commented on #292
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-04 12:01] aspnet-hello commented on #292
Publish_UsesRazorSDK [failed with about the same error](http://aspnetci/viewLog.html?buildId=544233&buildTypeId=Releases_21Public_HighSierraOsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-04 16:58] pranavkm commented on #288
@olegsavelos here's an example of what it would look like: https://github.com/pranavkm/PluginApp/blob/master/MainApp/Startup.cs#L71-L90

[2018-09-04 17:00] pranavkm commented on #287
Looks like the issue was resolved with Kestrel fixes.

[2018-09-04 17:00] #287 closed

[2018-09-04 17:10] olegsavelos commented on #288
Thanks a lot for the tip! It worked :)

[2018-09-04 17:12] #288 closed

[2018-09-05 00:02] aspnet-hello commented on #292
Publish_HasNoPrecompilation [failed with about the same error](http://aspnetci/viewLog.html?buildId=544459&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-07 23:26] aspnet-hello commented on #292
Publish_HasNoPrecompilation [failed with about the same error](http://aspnetci/viewLog.html?buildId=548489&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-19 10:41] aspnet-hello commented on #292
Precompilation_WorksForSimpleApps [failed with about the same error](http://aspnetci/viewLog.html?buildId=557083&buildTypeId=Releases_21Public_HighSierraOsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-19 16:34] Eilon commented on #292
@pranavkm any updates on this? Are the new failures a new problem in 2.1 flakiness?

[2018-09-19 17:02] pranavkm commented on #292
Yup. They're all primarily issues with port acquisition, perhaps because a different process is still running:

[code]

I'll ask around to see if what other repos did something to fix this sort of issue.

[2018-09-19 17:04] Eilon commented on #292
I think @mikeharder is good at acquiring ports. If we have hard coded ports that should definitely fixed.

[2018-09-19 17:28] pranavkm commented on #292
Spoke to @Tratcher - looks like they made some changes in 2.2 to make this more reliable: https://github.com/aspnet/Hosting/blob/81383bba8052d018771b8e17c2bc73fc872729fd/src/Microsoft.AspNetCore.Server.IntegrationTesting/Common/TestUriHelper.cs#L26-L33. Should be ok since this is test only and doesn't require cross-repo api changes.

[2018-09-19 19:36] pranavkm commented on #292
Fix checked in. Will keep this issue open for a week if the problem persists.

[2018-09-25 23:32] #292 closed

[2018-10-05 22:31] aspnet-hello opened #293 "Test failure: Precompilation_RunsConfiguredCompilationCallbacks"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=570536&buildTypeId=Releases_21Public_HighSierraOsxUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC

[2018-10-05 22:31] aspnet-hello commented on #293
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-05 23:39] Eilon commented on #293
@mkArtakMSFT can you assign?

cc @pranavkm

[2018-10-09 18:11] aspnet-hello commented on #293
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=573386&buildTypeId=Releases_21Public_OsxUniverse) on 2.1 at 9:50:56 AM:
- Precompilation_WorksForViewsUsingDirectoryTraversal
- Precompilation_WorksForViewsUsingRelativePath

[2018-10-12 20:51] aspnet-hello opened #294 "Test failure: RunClientTests"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=576648&buildTypeId=Releases_22xPublic_UbuntuUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon

[2018-10-12 20:51] aspnet-hello commented on #294
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-12 20:55] Eilon commented on #294
@mkArtakMSFT / @javiercn - is this a new CORS failure?

[2018-10-12 21:01] javiercn commented on #294
@Eilon Seems like it. I'm giving this to @pranavkm as I'm not familiar with the infrastructure

[2018-10-12 21:03] pranavkm commented on #294
Yup. I'll check

[2018-10-12 22:11] aspnet-hello commented on #294
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=576787&buildTypeId=Releases_22xPublic_UbuntuUniverse) on 2.2 at 1:49:09 PM:
- RunClientTests

[2018-10-13 00:51] aspnet-hello commented on #294
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=577063&buildTypeId=Releases_22xPublic_UbuntuUniverse) on 2.2 at 4:38:37 PM:
- RunClientTests

[2018-10-13 11:01] aspnet-hello commented on #293
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=577484&buildTypeId=Releases_21Public_HighSierraOsxUniverse) on 2.1 at 1:46:15 AM:
- Precompilation_WorksForViewsUsingRelativePath
- Precompilation_WorksForViewsUsingDirectoryTraversal

[2018-10-15 16:56] pranavkm commented on #294
Should be fixed now. https://github.com/aspnet/CORS/commit/8ad589c4d1be35232694e17f38de06c1614b213d helped me track down the issue

[2018-10-15 20:11] aspnet-hello commented on #294
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=578253&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master at 12:00:52 PM:
- RunClientTests

[2018-10-16 00:31] aspnet-hello commented on #294
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=578368&buildTypeId=XPlat_Windows_Win7_Universe) on master at 2:44:36 PM:
- RunClientTests

[2018-10-16 03:16] maliming opened #295 "MvcRazorCompileOnPublish causes Unable to publish SCD."
[code]

`dotnet new razor -n Test`
[code]

**Everything is normal so far.**

Then modify Test.csproj as follows:

[code]

add  **\<MvcRazorCompileOnPublish\>true\</MvcRazorCompileOnPublish\>**
I got the error:

[code]

[code]

[2018-10-16 04:53] maliming commented on #295
**error NETSDK1031: It is not supported to build or publish a self-contained application without specifying a RuntimeIdentifier.  Please either specify a RuntimeIdentifier or set SelfContained to false. [C:\Users\malim\Desktop\razor\Test\Test.csproj]**

[2018-10-16 16:51] pranavkm commented on #295
The precompilation tool is deprecated and we recommend using [Razor Sdk](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1) to do build or publish time compilation. The way to enable is to turn off precompilation (remove `<MvcRazorCompileOnPublish>true</MvcRazorCompileOnPublish>`). If you still have issues with the setting removed, feel free to file an issue in https

[2018-10-16 16:51] #295 closed

[2018-10-16 17:34] javiercn commented on #294
@pranavkm?

[2018-10-17 00:01] aspnet-hello commented on #294
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=579008&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 2:12:21 PM:
- RunClientTests

[2018-10-19 01:00] aspnet-hello commented on #293
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=580215&buildTypeId=Releases_21Public_OsxUniverse) on 2.1 at 4:52:49 PM:
- Publish_UsesRazorSDK